[2016-10-14 15:02] sqs opened #3 "workspace/symbol (and probably workspace/reference) aren't constrained to things in the workspace"
They call buildutil.ExpandPatterns, which reads from the entire GOPATH/GOROOT, not just from the workspace. This breaks in vscode, because `h.init.RootImportPath` is not yet, and the GOPATH can have tons of packages unrelated to what's in the workspace.

Fix: filter to only pkgs whose dir is underneath the workspace rootPath

[2016-10-18 09:42] mbana opened #6 "editor: where is the repo for the live editor?"
Hi,

I am trying to find the reference to the repo that contains the code to setup Monaco.
Is this available somewhere? I've tried all sorts of search queries: `readOnly` option, as per https://microsoft.github.io/monaco-editor/playground.html#creating-the-editor-editor-basic-options, to see if I can somehow toggle the `readOnly` mode to false.

Thanks,

[2016-10-18 16:59] sqs commented on #6
Hi @mbana. Are you referring to the code viewer UI on Sourcegraph.com? This repo is just the language server and vscode extension, not the full Sourcegraph.com repo.

[2016-10-18 19:31] mbana commented on #6
Oh ok, yes was I sort of thought as well.
Do you plan on opening sourcing the part that embed Monaco Editor?
If that's asking for too much, would you care to even share how you go about embedding the editor. I've got a rough idea on how you'd do this; I suspect you have custom version of the `monaco-editor` linked to the UI?

[2016-10-18 20:23] sqs commented on #6
The part that embeds the Monaco editor is all glue that wouldn't be super helpful outside of Sourcegraph. It's glue between Sourcegraph and the open-source github.com/Microsoft/vscode repo. We are going to submit some PRs upstream to the vscode repo to make integration easier for other folks in the next few weeks most likely.

[2016-10-18 20:24] #6 closed

[2016-10-19 01:24] uforic opened #7 "off by one error observed between workspace/symbol and textDocument/definition calls"
On our code base, run textDocument/definition with the following args:
textDocument:"file:///Users/mattfs/gopath/src/sourcegraph.com/sourcegraph/sourcegraph/app/app.go"
position: line: 26, character: 39

I get back the following symbol:
uri: "file:///usr/local/go/src/net/http/server.go"
range: 76/5 -> 76/11

Call workspace symbols on our code base, with the query "Handler." The token we are lookin

[2016-10-19 07:11] keegancsmith commented on #7
Nice find! End of symbol ranges I don't think we have that well defined. ie inclusive vs exclusive ranges. Luckily we have lots of unit tests to make it easy to fix :)

[2016-10-20 12:59] mbana opened #8 "codegen: map to vscode-languageserver-node/client"
hi,

is it possible to generate the defs from this repo somehow?
https://github.com/Microsoft/vscode-languageserver-node/blob/master/client/src/protocol.ts#L140
Or better yet ask MS to make a generic definition lib that can used to generate the code for ur language.

**npm packages:**

[code]

cheers,

[2016-10-27 09:44] uforic opened #11 "When run locally, document/references returns references that aren't in the initial root_path"
When debugging the go language server locally, I noticed that a references request pulled back refs that weren't in the root_path of the project.

Step 1: Initialize language server, notice the rootPath
`
language server initialized: [{"jsonrpc": "2.0", "id": 1, "result": {"capabilities": {"workspaceSymbolProvider": true, "textDocumentSync": 1, "definitionProvider": true, "hoverProvider": true, "r

[2016-10-27 13:16] keegancsmith commented on #11
This is actually the same behaviour as any other go plugin. (go guru searches the whole GOPATH). However, I agree that this is surprising behaviour for find _local_ references.

I am guessing we can do one (or more) of three things:
1. Limit results to `rootPath`.
2. Order results intelligently.
3. Wait until we references searches global as well (will still need 2).

(1) should be pretty easy to

[2016-10-27 17:01] sqs commented on #11
Iirc this is filed somewhere already or mentioned in code TODO. Agreed we should do (1) below now.

Sent from my iPhone

[2016-10-27 17:27] uforic commented on #11
Cool - the main reason I'd like to do this is for performance, within an editor find all refs in Sourcegraph is taking ~10 seconds, and at that rate I think folks will choose to use "Find All."

I don't know if this adds too much code complexity, but I wonder if the ideal is to look inside of rootPath + dependencies. Trying to decide if this would be desirable behavior... For instance, it seems in

[2016-10-27 18:04] keegancsmith commented on #11
On sourcegraph.com it should just be rootPath + deps, unless I am mistaken. I don't think (1) should be that hard to implement.

[2016-11-04 09:09] uforic opened #20 "Question: can we do any better on providing start and end ranges for loader errors?"
I'm building a Sublime Text plugin to work with the Go langserver, and a feature I'd like is to underline the error causing symbols when you have some code that is broken.

In app.go in sourcegraph/sourcegraph, I added "aaa" to the end of the http.Handler return argument for the first method.

The langserver returned the following (not the same start and end):
[code]

The errors are getting create

[2016-11-04 09:33] keegancsmith commented on #20
Man sourcegraph is pretty epic, I got an answer for you by just using our features from that link :D

So it seems the only place that generates errors from typechecking is here https://sourcegraph.com/github.com/golang/go@go1.7.1/-/blob/src/go/types/errors.go#L74

That seems to only send `error`'s with this type https://sourcegraph.com/github.com/golang/go@go1.7.1/-/blob/src/go/types/api.go#L41:6

[2016-11-04 18:40] uforic opened #23 "Publishing diagnostics more often"
Seen on the Sublime Text Go plugin: I noticed that diagnostics are only published when we see errors. The way that the TypeScript Sublime Plugin (Microsoft published) works is that there are empty diagnostic messages published on a given file for every keystroke.

As an example, ```{"method":"textDocument/publishDiagnostics","params":{"uri":"file:///Users/mattfs/gopath/src/sourcegraph.com/sourcegr

[2016-11-05 02:22] keegancsmith commented on #23
We can certainly publish empty diagnostics. Any idea on the LSP call made for all the diagnostics? Couldn't find anything in the spec.

[2016-11-05 02:24] sqs commented on #23
It's publishDiagnostics and it's sent by the server, not client.

Sent from my iPhone

[2016-11-07 22:29] nicot opened #25 "Definition range"
Definition range should span the entire function body and declaration. The Go AST position info for the def only has the position of the name in it, so we'd have to dig a little deeper to get this to work right.

Start here: https://github.com/sourcegraph/go-langserver/blob/master/langserver/definition.go#L29. These lines can be removed once the entire function body is included: https://github.com

[2016-11-07 22:36] uforic opened #26 "Discussion: Should we include an example line in addition to a Location as a return value for workspace/references"
https://sourcegraph.com/github.com/sourcegraph/go-langserver/-/blob/pkg/lsp/structures.go#L27-30

Can we return an `ExtendedLocation` here, that includes the containing line in the file?

Reasons to do this:
Any UI for references usually requires a sample line, reasonable assumption to make
The TS server bundled with the MSoft Sublime plugin does this
Without it, we have to look up every file and

[2016-11-08 06:21] uforic opened #27 "Feature request: Completion provider"
https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#completion-request

[2016-11-08 08:10] #20 closed

[2016-11-08 08:24] keegancsmith commented on #25
@uforic should this be part of the editor extension project https://github.com/sourcegraph/go-langserver/projects/1

[2016-11-08 19:38] uforic commented on #25
Cool - @nicot , mind talking about the use case? Couldn't tell from the LSP protocol.md if this was desired behavior, just `definition location of a symbol`, which seems more like just the name.

Maybe the entire range could be an additional field in the resolvedSymbol request? : https://github.com/sourcegraph/language-server-protocol/pull/2

[2016-11-08 19:42] nicot commented on #25
This is the way that VSCode expects it to work, so that we can show declarations in the hover tooltip. This is the way that most language servers work, so it should not be an extension.

[2016-11-08 20:01] uforic commented on #25
Cool - makes sense. Let's submit a PR to the LSP folks to this affect, the language on the protocol is kinda vague.

@nicot , can you link to the code where they expect the range to encompass the whole function? Will help with the PR.

[2016-11-08 21:39] nicot commented on #25
This is the gotoDeclaration command that the hover uses to provide a preview: https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/goToDeclaration/browser/goToDeclaration.ts#L329.

[2016-11-08 21:51] slimsag commented on #25
@uforic I'm all for clarification of docs :D but tbh I think it's already straightforward:

1. `textDocument/definition` returns a `Location`: https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#location

2. `Location` is defined as:

[code]

And to quote the `Range` docs:

For me, I can't see any other use of declaring a `Range` instead of just a `Position`: the only pos

[2016-11-08 21:51] slimsag commented on #25
FYI also having the full range would be useful for def landing, too.

[2016-11-08 21:53] sqs commented on #25
Having the full range is also useful for impact analysis :smile:

[2016-11-08 22:15] uforic commented on #25
Roger - the interpretation I wrongly had is that the range was the token in question, so that an editor could highlight it in the event of jump to (I haven't seen jump to's that highlight the whole fn, just ones that highlight the token in question), but given that VSCode does it and y'all know about it, I guess it was just me that was confused! Party.

[2016-11-08 22:34] nicot commented on #25
I'm suggesting a change in the contents of the range returned by textDocument/definition. There are two things we could return for a definition request on https://sourcegraph.com/github.com/gorilla/mux/-/blob/mux.go#L39:6.

One spanning just the identifier: `Router`

Another spanning the entire body:

[code]

I'm arguing that the second is better. The language protocol documentation does not provi

[2016-11-08 22:38] slimsag commented on #25
I've always interpreted the spec to mean include the entire body, as you're suggesting @nicot. I think we should go with that.

I agree the spec could be more clear here @uforic -- I hadn't considered just spanning the name (which is a very real possibility). A PR here as you suggested earlier would be awesome!

[2016-11-09 18:43] uforic opened #29 "Diagnostics are highlighting non-ideal portion of error"
Spotted on Sublime using go-langserver:
https://cl.ly/1s2J0u231540

The error is really with AppURL.Scheme1, because Schem1 doesn't exist on whatever AppURL returns. But `conf` is underlined by the diagnostic.

For comparison (I think this is better behavior), on VSCode, things like this highlight the whole term:
https://cl.ly/040J3i0H2x2j

[2016-11-09 19:44] keegancsmith commented on #29
@uforic in the example of the description, is it possible vscode is just highlighting the whole line? We can do similiar. Note the diagnostic information then isn't as accurate, but that isn't really an issue since we don't do much with the diags currently.

[2016-11-09 21:34] uforic commented on #29
Doh - you're right: https://cl.ly/2J440M431o00 . Will close out and change for the plugin. Nice catch.

[2016-11-09 21:34] #29 closed

[2016-11-09 22:22] keegancsmith commented on #11
So we already do this filtering, it's just broken from Sublime due to an LSP extension we do called `RootImportPath`.  https://sourcegraph.com/github.com/sourcegraph/go-langserver@03af5b6677a58cc367e45483d89ea912fc7e5d3b/-/blob/langserver/lspx.go#L23-27
EG `github.com/kubernetes/kubernetes` has a `RootImportPath` of `k8s.io/kubernetes`.

Currently that is always empty from Sublime, since it doesn'

[2016-11-09 22:40] keegancsmith commented on #11
BTW doing the filtering won't actually make any of this faster, since we use `importgraph.Build` https://sourcegraph.com/github.com/sourcegraph/go-langserver@03af5b6677a58cc367e45483d89ea912fc7e5d3b/-/blob/langserver/references.go#L34

Creating a patched version of `importgraph.Build` is what we need to do to speed up this operation.

[2016-11-09 22:51] keegancsmith commented on #11
I have a potentially terrible hack which will allow us to use `importgraph.Build`, adjust the `build.Context` such that we fail to read any file outside of the `rootPath` :O

[2016-11-10 02:04] uforic commented on #11
Haha nice - seems like a reasonable approach :-) .

That will miss non-vendored projects though, right? Like if I'm depending on github.com/gorilla/mux , and it's not vendored, than it won't be in the rootPath. FWIW, I think this could be a reasonable approach. Another data point: it looks like VSCode grabs the entire GOPATH references, I noticed a find all refs on "Handler" in our project returns

[2016-11-10 12:23] keegancsmith commented on #11
`importgraph.Build` is used by `guru` and `go-langserver` to find all references. It looks at the whole GOPATH. This behaviour is surprising to others as well and someone filed an issue about it a while ago https://github.com/golang/go/issues/14747 and https://github.com/golang/go/issues/14748

What we can actually do is cache `importgraph.Build` so at least future calls to references is faster, b

[2016-11-10 14:01] keegancsmith commented on #23
@sqs I was referring to @uforic's mention of:

[2016-11-14 13:49] #11 closed

[2016-11-14 19:10] keegancsmith commented on #23
I think there are quite a few issues to clear up around caching/re-triggering typechecking on file changes. I won't be able to look into them this week more than likely, so just gonna un-assign myself for now. If this is an issue, lets chat about it :)

[2016-11-21 21:00] keegancsmith opened #35 "All features should work when browsing vendored code"
For example we can j2d/hover, but find all references on code only referenced in vendor returns nothing.

[2016-11-21 21:00] keegancsmith opened #36 "workspace/symbol should include struct fields."

[2016-11-24 04:42] prabirshrestha opened #38 "rootPath should be a path not URI"
What is the correct way to path format for windows? Seems like backslash and colon confuses go-langserver.

[code]

[2016-11-24 11:10] keegancsmith commented on #38
This seems to be the upstream bug in Go, not sure if it is solved. https://github.com/golang/go/issues/6027

I'm very unfamiliar with windows, but will take a look into this since the stack trace makes it look easy to write a unit test for.

[2016-11-26 07:36] keegancsmith opened #39 "File paths containing `@` should be valid"
https://sourcegraph.com/github.com/sourcegraph/go-langserver@7e635d805440326f635a8dbf61c658d4a21a22b5/-/blob/langserver/fs.go#L85-87

[2016-11-29 15:46] alexsaveliev opened #41 "Ability to test go-langserver homebrew formula"
As described in [Add a test to the formula](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#add-a-test-to-the-formula) section, we need to add a basic test to make sure homebrew formula is successfully built and working. Ideally, would be nice to pass some file with HTTP messages as program's input and compare the output with the expected one. Some flag that returns 0 exit co

[2016-11-29 21:45] keegancsmith commented on #41
@alexsaveliev you can replicate this test with a bit of bash and netcat. https://github.com/sourcegraph/go-langserver/blob/master/langserver/integration_test.go

[2016-12-01 13:05] alexsaveliev commented on #41
@keegancsmith thanks, made it (#44)!

Note to self:
- have a delay after sending `initialize` and before sending `exit` requests, otherwise you may see no data in stdio mode

[2016-12-01 13:05] #41 closed

[2016-12-02 08:35] keegancsmith commented on #39
@beyang I lost context on why this is bad. Do you remember the example you gave me? How important is this?

[2016-12-02 09:02] keegancsmith opened #45 "Hint if a symbol supports find all references"
Currently the sourcegraph frontend has a hack to prevent showing find all references for primitive types when hovering over them, since the server does not support it / there is minimal value for doing so. We want to remove the hack, so we should find a nice way to do so. Options:

* Add another field to the contents array to indicate the type / if we support find all refs
* A special field in the

[2016-12-02 09:46] sqs commented on #45
@keegancsmith: @chexee is exploring better ways to make references (and other context-menu actions) accessible in the UI. I can think of enough ways she could design it that wouldn't need this hint that it's worth waiting for her on this.

[2016-12-02 10:08] keegancsmith commented on #45
Ok, I'll leave this open for a bit just so @nicot can respond (he mentioned this to me on slack). But I agree, I'd rather just close this out since the right click to view references on hover is a hack as well + if you right click on a primitive we show the references option anyways.

[2016-12-02 17:44] nicot commented on #45
Yeah it's a weird situation. My thinking is that the info sent back for builtins is so minimal it isn't useful, so we should just remove it from the hover response.

Do we have an estimate of when we're going to improve the UX of the actions that are only available on right click?

[2016-12-02 17:46] sqs commented on #45
Let's move this to the Sourcegraph repo.

Sent from my iPhone

[2016-12-02 19:32] beyang commented on #39
You might have file paths like https://sourcegraph.com/github.com/angular/angular@75d1617b6329f82e0dd8ee61164e1790a69b3082/-/blob/modules/@angular/core/index.ts#L19 that have an '@' ("@angular").

I can't remember an instance of this in Go, but it should at least be permissible.

[2016-12-06 09:44] keegancsmith commented on #38
Hey sorry for not updating. So we are not spec complaint here, we are expecting a URI for the path, but in this instance it should just be a filepath. I'll update. Related issue https://github.com/Microsoft/language-server-protocol/issues/113

[2016-12-06 09:46] keegancsmith commented on #3
@slimsag I think you did some stuff around this, know if this is still an issue?

[2016-12-06 09:46] keegancsmith commented on #7
I forgot about this, will follow up when we do a bug bash.

[2016-12-06 09:47] keegancsmith commented on #8
@mbana Why generate from there? It doesn't really change often enough that doing it by hand is annoying. Also we extend the spec in some places, so for now closing as a wontfix.

[2016-12-06 09:47] #8 closed

[2016-12-06 09:48] keegancsmith commented on #23
@uforic what is the priority on this? Is this something covered by some of the new work by @alexsaveliev?

[2016-12-06 09:49] keegancsmith commented on #25
@uforic what is the priority on this? Is this something covered by some of the new work by @alexsaveliev?

[2016-12-06 09:50] keegancsmith commented on #26
@uforic do you still think this is a good idea? Somewhat easy to implement, so we can propose it upstream.

[2016-12-06 09:50] keegancsmith commented on #27
@uforic what is the priority on this? Is this something covered by some of the new work by @alexsaveliev?

[2016-12-06 09:51] keegancsmith commented on #39
Yeah I assume if that repo actually had go code in it, we may trigger a panic which is a bug.

[2016-12-06 09:52] keegancsmith commented on #45
I'm gonna close this out. I assume adding something special to the LSP protocol for hacks that we do on our side is less than ideal, and is better solved with us innovating on the UI since there are lots of other "types" we want to prevent the same issue.

[2016-12-06 09:52] #45 closed

[2016-12-06 20:01] uforic commented on #26
Yo! I proposed this in the LSP spec, and they put it in the LSP 3.0 milestone. Let's wait to implement until that's published, closing for now!

[2016-12-06 20:01] #26 closed

[2016-12-06 20:01] uforic commented on #27
Let's table this for now, too much other fun stuff to work on - closing.

[2016-12-06 20:02] uforic commented on #23
Low priority - I'm going to close this out for now. Thx for reminding me!

[2016-12-07 01:48] uforic opened #49 "Support for Glide and GoDep vendoring"
See `https://github.com/uforic/simple_go/blob/master/simple.go`

If you click on Router, it goes to the /vendor folder - desired behavior: an option of whether to go to mux.go in /vendor, or to the correct revision of the library @ `0eeaf839`, not the HEAD of mux which is now at  `757bef9`

Party!

[2016-12-07 04:58] #49 closed

[2016-12-07 05:34] keegancsmith commented on #49
FYI for others looking, this was closed since this would be the responsibility of the build server, not the language server.

[2016-12-07 05:48] keegancsmith commented on #26
Awesome! Link?

[2016-12-07 20:10] uforic commented on #26
Right on: https://github.com/Microsoft/language-server-protocol/pull/121

[2016-12-14 05:02] slimsag opened #57 "Add a test for URI case as found in PR #53"
Add a test case for uppercase URIs as seen in https://github.com/sourcegraph/go-langserver/pull/53

[2016-12-14 05:09] slimsag commented on #3
Ouch. I think this will likely still be a problem today. I don't think anything has changed w.r.t. this but I did not check yet.

[2016-12-14 14:01] keegancsmith commented on #3
I don't really have a good feel for the importance of this bug. We could just filter the results afterwards, but that sounds like we are covering up an issue, but not fixing the performance implications. However, that fix is very easy so this is a nice and easy one to do on our next round of bug bashing. Probably best to save it until we prioritize small bugs again.

[2016-12-14 14:13] sqs commented on #3
It's not important right now because it only happens when using this lang server in VSCode, not on Sourcegraph.

[2016-12-21 17:09] mbana commented on #57
fyi: adding test for this.
ta,

[2016-12-24 13:02] mbana commented on #57
@slimsag
https://github.com/sourcegraph/go-langserver/pull/65

cheers,

[2016-12-30 01:09] mbana opened #66 "textDocument/references et al. works when import is named"
soz, if this is logged elsewhere. `Find All References` on

`opentracing` - ok:
https://sourcegraph.com/github.com/sourcegraph/go-langserver/-/blob/langserver/handler.go#L17

`jsonrpc2` - no results - intended?:
https://sourcegraph.com/github.com/sourcegraph/go-langserver/-/blob/langserver/handler.go#L22

same thing with `Go to Definition`.

---

is possible to link to a column as well as the line

[2017-01-10 13:45] keegancsmith opened #69 "Support file outline"

[2017-01-10 13:46] keegancsmith opened #70 "vscode: Support Workspace Symbol Search"
Our symbol search currently does not seem to work when used via vscode. It only works in production sourcegraph.com due to some extra translations our build server does. It should work in vscode.

[2017-01-10 16:32] keegancsmith opened #72 "pkg/lsp: Support LSP 3.0"

[2017-01-10 16:50] keegancsmith commented on #38
Once https://github.com/sourcegraph/go-langserver/pull/71 and https://github.com/sourcegraph/go-langserver/pull/73 land, this should work on windows. However, I do not have a windows machine handy to test, so will appreciate confirmation at that time.

[2017-01-10 17:08] prabirshrestha commented on #38
@keegancsmith thanks for taking your time to look into this issue.
If you do have a temp branch that contains both the PR fix I can try it on my windows machine to verify if it works or not.

[2017-01-10 19:46] #39 closed

[2017-01-11 06:09] keegancsmith commented on #38
@prabirshrestha master should contain both fixes now.

[2017-01-11 08:37] keegancsmith opened #75 "Support textDocument/signatureHelp"

[2017-01-11 08:37] keegancsmith opened #76 "Support textDocument/formatting"

[2017-01-11 08:38] keegancsmith opened #77 "Support textDocument/completion"

[2017-01-11 08:48] keegancsmith commented on #75
I want to do some validation for this first, so re-opening.

[2017-01-11 08:52] keegancsmith opened #78 "Windows CI"
AppVeyor seems to be the way people do this, and it is free for OSS. https://blog.markvincze.com/setting-up-an-appveyor-pipeline-for-golang/

[2017-01-11 15:01] keegancsmith commented on #70
Our `workspace/symbols` searches the whole `GOPATH`. What is the expected behaviour from vscode? I assume we would want to limit it to rootPath only? cc @ramya-rao-a

[2017-01-11 16:19] keegancsmith commented on #70
Re-opening to get feedback about GOPATH.

[2017-01-11 17:53] rothfels commented on #70
@keegancsmith seems gratuitous to include every symbol found in your GOPATH. Also, the current vscode behavior is to only show symbols in your workspace: https://cl.ly/1q2j3I1U3v18

[2017-01-11 17:53] rothfels commented on #70
https://cl.ly/2V1L3j2y3137

[2017-01-11 18:20] prabirshrestha commented on #38
Seems better but here is log.

[code]

I get empty for `textDocument/documentSymbol` and error when using `textDocument/definition`.

[2017-01-11 18:34] keegancsmith commented on #38
Ok great, thanks for the logs. I should be able to follow up with that. I also have some experimental support to use AppVeyor to get some Windows CI :) Expect windows to be a bit more first class soon.

[2017-01-11 18:37] keegancsmith commented on #70
@rothfels thanks. I'll improve that behaviour before closing this issue.

@slimsag just to pre-empt my dive into symbols code, it should be easy to filter to just the current workspace right? And filter before inspecting something, not after (ie don't just throw the results away).

[2017-01-11 18:40] keegancsmith commented on #76
Re-opening to let me verify the behaviour in vscode first.

[2017-01-12 12:39] keegancsmith commented on #70
#82 resolves symbol search looking at the whole GOPATH. On my local machine vscode symbol and file outline go from half a minute to instant.

[2017-01-12 14:59] keegancsmith commented on #76
We need better TextEdit behaviour for vscode. #83 implements that.

[2017-01-13 00:34] slimsag opened #85 "consider a more structured code layout"
From my very harsh/critical perspective, `go-langserver` is rapidly becoming a giant glob of code living in a single directory. This is bad because our code documentation can rapidly become out of date or interconnected pieces can be altered affecting other things unintentionally.

This is less of a "I have a concrete plan" and more of a "let's chat about how we can improve this" issue. Ideally we

[2017-01-13 09:59] keegancsmith commented on #85
I agree, its organic growth has led to code that could be better structured, so we should do some improvements. I'm not sure if subpackages (excluding for larger bits of code such as refs or symbols) would actually make life easier though. I think the bigger win would be better thought put into how all the shared state is accessed/separated out. Right now we have stuff split out over files in a ha

[2017-01-13 13:59] #70 closed

[2017-01-13 14:04] #75 closed

[2017-01-13 14:04] #69 closed

[2017-01-16 09:34] keegancsmith commented on #85
I'm going to try ship a few small changes this week which should start shaping us to a codebase that makes more sense. The mini-goal I set this week is making https://godoc.org/github.com/sourcegraph/go-langserver/langserver look reasonable. The first PR is here https://github.com/sourcegraph/go-langserver/pull/87

[2017-01-20 14:16] keegancsmith commented on #38
@prabirshrestha we will have proper windows support soon, @alexsaveliev has a working branch at https://github.com/sourcegraph/go-langserver/pull/86 which you may want to try out.

[2017-01-20 14:18] keegancsmith commented on #3
I fixed this bug last week. Forgot we had an issue for it. https://github.com/sourcegraph/go-langserver/pull/82

[2017-01-20 14:18] #3 closed

[2017-01-20 14:20] keegancsmith commented on #7
@felixfbecker you are my favourite LSP expert. Is a range inclusive or exclusive of the `End`? I believe it is End after some other work I did recently involving `textDocument/formatting`, just want to confirm.

[2017-01-20 14:21] keegancsmith commented on #7
Nevermind me, it is in the spec.

[2017-01-20 14:29] keegancsmith commented on #25
@lindaxie, @mejamiewilson Is this something we would like soon?

[2017-01-20 14:32] felixfbecker commented on #25
I don't think this is even desirable. The range that is returned by definition should be the exact range you can invoke find-all-refs on, just like the range for a reference should be the exact range you can invoke j2d on. If you include the whole declaration body vs just the name, that is not true.

[2017-01-20 18:35] nicot commented on #25
Yeah I've actually done a 180 on this issue and think it should just be the name. There's a bug with the TypeScript langserver where it has the entire declaration behavior, and it breaks J2d on internal class references and recursive calls.

[2017-01-20 20:17] keegancsmith commented on #25
Ok, then I believe lets just close it out. Thanks!

[2017-01-20 20:17] #25 closed

[2017-01-24 09:21] keegancsmith opened #110 "Remove RootImportPath"
This is an extension we added that we don't really need. We use it, and it has caused features to not work in vscode. I think we can just get rid of it. On sourcegraph.com the value is basically set by this snippet of code

[code]

which means we can just rely on `RootPath` (except for special casing stdlib). Out of interest  `h.rootImportPath` is empty for stdlib, and otherwise is detected based

[2017-01-24 09:24] keegancsmith commented on #110
@slimsag agree?

[2017-01-24 12:04] sqs commented on #110
👍

[2017-01-25 12:51] keegancsmith opened #113 "Windows support"
We have file path issues all over the place. We also have some in-progress work to sort this all out by @alexsaveliev. https://github.com/sourcegraph/go-langserver/pull/86 https://github.com/sourcegraph/go-langserver/pull/79

[2017-01-25 12:52] keegancsmith commented on #38
The original rootPath issue has been fixed. Filed https://github.com/sourcegraph/go-langserver/issues/113 to track progress on supporting windows.

[2017-01-25 12:52] #38 closed

[2017-01-25 18:50] #7 closed

[2017-01-30 23:50] ramya-rao-a commented on #23
I was testing the language server integration with VS Code, we can see the same thing and I'd like to re-open this issue.

If this is not a priority at the moment, can the publishing of diagnostics be disabled until this is fixed?
It gets pretty annoying when the error squigglies do not go away when the user has fixed the issue.

[2017-01-31 00:45] slimsag commented on #23
Reopening per @ramya-rao-a 's comment just so this doesn't get missed! (I don't have context here so deferring to @keegancsmith )

[2017-01-31 00:47] felixfbecker commented on #23
Just to clear up the semantics, any publishDiagnostics call overrides the current list of diagnostics. So if there were diagnostics and now there are none, the LS needs to send an empty array.

[2017-01-31 07:02] keegancsmith commented on #23
@ramya-rao-a PR #128 should hopefully solve this issue.

[2017-01-31 15:49] keegancsmith commented on #23
On further thought my PR did not fix the problem. It will be a bit of work to fix, so I have disabled publishDiagnostics in #131

[2017-01-31 19:01] slimsag commented on #110
👍

[2017-01-31 19:23] ramya-rao-a commented on #23
Thanks @keegancsmith!

[2017-02-01 07:25] #23 closed

[2017-02-04 23:46] bolinfest opened #135 "Provide instructions or a script for the standalone language server"
I tried to figure it out from https://github.com/sourcegraph/go-langserver/blob/master/vscode/package.json, but `npm run compile` gives me errors about `$GOPATH` not being set.

[2017-02-05 02:16] bolinfest commented on #135
Here's what I ended up doing:

[code]

I suppose if you're used to building stuff with Go, this is obvious, but the only Go code I've built in the past was with Bazel, so I didn't have to do any of this stuff.

[2017-02-05 02:18] bolinfest commented on #135
I should mention that the binary can then be run from `$GOPATH/bin/langserver-go`.

Though this doesn't explain how I could make a local change and then rebuild that version. This just builds what's public on GitHub, right?

[2017-02-06 02:34] ramya-rao-a opened #136 "Active Parameter in Signature Help gets incremented before typing comma"
I was testing the integration of the language server with VS Code.

Take the example of `math.max()`. This takes 2 parameters
When cursor is inside the brackets, active parameter is shown as the first one.

<img width="393" alt="screen shot 2017-02-05 at 6 31 24 pm" src="https://cloud.githubusercontent.com/assets/16890566/22632831/7001b3a8-ebd1-11e6-9a60-690d07395862.png">

Type a single digit, th

[2017-02-06 02:42] ramya-rao-a opened #137 "Signature Information is missing doc in Signature Help"
Using VS Code to test the integration with language server

The SignatureInformation is made up of label, docs and params.

<img width="565" alt="screen shot 2017-02-05 at 6 36 27 pm" src="https://cloud.githubusercontent.com/assets/16890566/22632909/0a5cf7c8-ebd2-11e6-9eb9-044bcf0e3a37.png">

The SignatureHelpProvider by the language server does not send the docs at the moment.
And so, the signatu

[2017-02-06 10:41] keegancsmith commented on #135
Yeah sorry this is all very poorly documented, I will update the README a bit. Some notes before that though:

* The vscode integration here is very experimental, and is not used much.
* There is also an experimental branch of `vscode-go` which uses this language server at https://github.com/Microsoft/vscode-go/tree/langserver (the diff with master can explain how to use the server)
* I will add `

[2017-02-11 00:43] nicksnyder opened #146 "textDocument/references unexpected panic: sync: unlock of unlocked mutex"
[code]

[2017-02-11 00:43] nicksnyder opened #147 "jsonrpc2: code -32601 message: method not supported: initialized"
[code]

[2017-02-11 09:22] felixfbecker commented on #147
This is a new method in LSP v3 and just a notification, it can safely be ignored.

[2017-02-13 10:26] #147 closed

[2017-02-14 03:30] ramya-rao-a opened #150 "Workspace Symbol Provider lists all struct references instead of just the definition"
I did a Workspace Symbols Search for "Win" in with https://github.com/rogpeppe/godef as a workspace in Visual Studio Code.

Actual:
In the background you can see that `Addr` is a method on `Win`. Same goes for everything appearing after `Addr` in the list.

<img width="878" alt="screen shot 2017-02-13 at 7 24 47 pm" src="https://cloud.githubusercontent.com/assets/16890566/22913909/83ebbd58-f222-11

[2017-02-14 08:23] keegancsmith commented on #150
If you do a workspace/symbols request, would you expect those results to show?

[2017-02-14 08:30] keegancsmith commented on #146
oops I missed this! I will fix straight away, may be indicative of a bad problem.

[2017-02-14 08:32] keegancsmith commented on #146
@nicksnyder which commit are you running on? The line that is the source of the panic doesn't really make sense.

[2017-02-14 08:37] keegancsmith commented on #146
Alright don't need to know the line. Given we only use sync.Once in one place, I believe I know the cause and have a fix.

[2017-02-14 08:39] keegancsmith commented on #137
Hi @ramya-rao-a sorry for not responding sooner. I will look into this before the end of the week. It should be pretty easy to re-use the code we have in hover.go if you want to take a stab :)

[2017-02-14 08:40] keegancsmith commented on #136
I'll take a look before EOW

[2017-02-14 08:45] felixfbecker commented on #150
I don't understand the issue. The actual screenshot looks 100% correct to me

[2017-02-14 08:59] keegancsmith commented on #150
@felixfbecker yes, I would expect a search query to match all possible fields we return in symbol information. The ordering that vscode does is also useful in this case. But maybe matching these values is actually not that useful for end users. Keen to hear the rational.

[2017-02-14 16:26] ramya-rao-a commented on #150
Nope

Workspace Symbol Search is more like Go To Definition and not Find All References.
Therefore, one would want to see the results matching just the definition and not all references.
https://code.visualstudio.com/docs/extensions/language-support#_show-all-all-symbol-definitions-in-folder

[2017-02-14 16:30] felixfbecker commented on #150
@ramya-rao-a I understand, but as a user, I see it as a feature if a workspace/symbol query for a class also returns methods of that class, meaning my query is applied not only to `name`, but also to `containerName`.

[2017-02-14 18:59] ramya-rao-a commented on #150
@felixfbecker Interesting.. I wonder if we can have a setting in VS Code to control that. This could be a whole new feature. Created a feature request in the language server repo for this. https://github.com/Microsoft/language-server-protocol/issues/183

Coming back to how the protocol is defined at the moment, @keegancsmith can we only match the query with `name` and not the `containerName` so th

[2017-02-14 19:04] felixfbecker commented on #150
It isn't defined anywhere afaik: https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#workspace_symbol

Would like to know this because the PHP LS also matches more than just `name`

[2017-02-14 19:09] ramya-rao-a commented on #150
Oh the woes of documentation...

You are right, the protocol doesnt explicitly call out that the query should match the `name` only.

I was making my statement based on the below from https://code.visualstudio.com/docs/extensions/language-support#_show-all-all-symbol-definitions-in-folder

![image](https://cloud.githubusercontent.com/assets/16890566/22944544/dc40c1d2-f2a5-11e6-993f-87e5935ef67d.pn

[2017-02-14 20:02] felixfbecker commented on #150
@ramya-rao-a I understand and agree it should only return symbol definitions, but the question is whether it should for example also return method definitions if you queried for a class name (because the containerName matches the query). I find it useful as a user if it does

[2017-02-16 08:34] #146 closed

[2017-02-20 03:10] ramya-rao-a commented on #136
@keegancsmith I have a PR #153 out to fix this. It would be great to fix this issue fixed before I ship the integration with VS Code next week

[2017-02-20 20:28] beyang opened #154 "Release go-langserver on gopkg.in"
Version numbers should match the version of vscode-go that the go-langserver version should be used with. The binary should also report its version number. vscode-go will check the version number reported by the binary and update (via `go get gopkg.in/go-langserver.v$VERSION`) if necessary.

Given the need to update the version number, it may be helpful to write a small script that writes the vers

[2017-02-20 22:10] nicksnyder opened #155 "Enforce LSP ordering semantics"
LSP requires an ordering on how the server handles requests:
https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#request-notification-and-response-ordering

If a client sends LSPs request in rapid succession (e.g. textDocument/didOpen, textDocument/didChange, textDocument/didClose), the server MUST handle these events in the order they are received.

JSON RPC does not hav

[2017-02-21 02:48] ramya-rao-a commented on #137
@keegancsmith I did give it a try (PR #137), but it only works for functions from the same package. Need help debugging why the logic doesn't work for functions from standard or other packages

[2017-02-21 04:25] nicksnyder opened #157 "Last reference not sent via $/partialResult"
I am the streaming references experiment enabled locally and it seems like the last reference is never sent via $/partialResult.

For example, if I expect 4 references back, I will get 3 references from $/partialResult and the final response will return all 4 references. This happens even if I delay the final response by an arbitrary amount.

Given the streaming semantics we discussed, it should b

[2017-02-21 08:31] keegancsmith commented on #157
I haven't investigated yet, but out of interest is the final reference you looking for the declaration?

[2017-02-21 08:37] keegancsmith commented on #154
Note: it will be something like `go get gopkg.in/go-langserver.v$VERSION/langserver/cmd/go-langserver` which is pretty ugly. We should just move the main.go into the top-level so we can just do `go get gopkg.in/go-langserver.v$VERSION`. We should also start vendoring our dependencies to make the build more reproducible.

[2017-02-21 15:01] nicksnyder commented on #157
Yes, that appears to be the case.

[2017-02-22 05:22] ramya-rao-a commented on #137
Updated the PR to make it work for functions from other package as well.

[2017-02-22 14:54] #157 closed

[2017-02-22 15:26] #137 closed

[2017-02-22 20:37] #136 closed

[2017-02-24 10:11] keegancsmith commented on #155
FYI this change goes a long way to prevent this issue rearing its ugly head #160

However,  analysis requests shortly followed by mutations to the FS may return stale data. I don't foresee this being a major issue until we start doing integration with features that integrate tightly with the edit flow (completion, signature help, etc)

[2017-02-24 12:13] #135 closed

[2017-02-24 21:19] ramya-rao-a commented on #135
Note: https://github.com/Microsoft/vscode-go/tree/langserver doesn't exist anymore. The integration of the vscode-go extension with the language server is now available in master

[2017-02-28 21:25] slimsag opened #165 "Enable & fix limit parameter to */references requests"
- `textDocument/references` doesn't respect the limit parameter when streaming, only when the final results are returned.
- `workspace/references` needs a limit parameter, and should respect it for the final results returned & during streaming.

[2017-02-28 22:30] ramya-rao-a opened #166 "Add support for default GOPATH (Go 1.8)"
See https://github.com/Microsoft/vscode-go/issues/813

The same support should be available in the Go language server as well

[2017-02-28 22:46] ramya-rao-a commented on #166
On second thoughts the Go extension can set the right GOPATH before starting the language server. So closing this issue.

[2017-02-28 22:46] #166 closed

[2017-03-01 03:44] nicksnyder opened #167 "Out of order results from workspace/xreferences"
workspace/xreferences sometimes sends a $/partialResult after the final result.

![screen shot 2017-02-28 at 7 41 18 pm](https://cloud.githubusercontent.com/assets/754768/23445116/ece65e68-fded-11e6-99cd-388231d84719.png)

[2017-03-01 03:47] slimsag commented on #167
That's pretty interesting, given from what I can tell [it's only possible for us to return the final result prior to sending the last partial result](https://github.com/sourcegraph/go-langserver/blob/master/langserver/workspace_refs.go#L178-L181)

Maybe this has something to do with it being a Notify call, or somehow a synchronization issue with our jsonrpc layer. Hmm. @keegancsmith any thoughts w

[2017-03-01 04:56] nicksnyder commented on #167
If `Notify` dispatches to a goroutine, then it is racing with the return value.

[2017-03-01 07:07] ramya-rao-a commented on #154
To begin with, can we have versions as tags on the commits, so that users can check what version they have and if they need to update?

Next step would be to have something like `go-langserver version` just like `go version` to output the version.

VS Code Go plugin can maintain the minimum version that it expects user to have and prompt appropriately.

[2017-03-01 07:11] ramya-rao-a opened #168 "Struct members are not seen on hover"
See https://github.com/Microsoft/vscode-go/issues/706#issuecomment-283220940

[2017-03-01 08:50] keegancsmith commented on #165
I assume we should make the limit much higher than 100 then. Also do we have any concerns around quality of results when we start to limit. Previously we sorted in the langserver and then limited results, which would result in more relevant results within the limit.

Either way this should be easy to implement. Do we have any idea of how soon we want this in production?

[2017-03-01 08:55] slimsag commented on #165
From my discussion with @nicksnyder -- we settled on him using the specs I wrote above _and_ limiting the results on the frontend temporarily (b/c Go/Java LS do not respect it). So nothing is blocked on this / not a super high priority, but good to implement + spec out properly sometime soon.

[2017-03-01 09:00] nicksnyder commented on #165
This doesn't help in the context of streaming though. Client does its own sorting anyway.

Yes and no. To the extent that the language server can stream the most relevant results first (e.g. walk "close" files/dirs first) then it should. Other then that, the UI is just going to take the first N results it and filter. We can adjust N if we feel like results aren't relevant enough.

Since the fronte

[2017-03-01 11:15] keegancsmith commented on #167
We have some tech debt related to ordering in this server as well as the proxies between the language server and the UI for sourcegraph.com. That would explain the out of ordering.

[2017-03-01 17:31] #154 closed

[2017-03-01 17:32] #168 closed

[2017-03-06 15:04] keegancsmith commented on #167
This is an issue in our lsp-proxy, not go-langserver. go-langserver does in fact send the notification before the result (`conn.Notify` blocks until the message is written on the wire). I am closing this out in favour of the lsp-proxy issue we have https://github.com/sourcegraph/sourcegraph/issues/4594

[2017-03-06 15:04] #167 closed

[2017-03-06 15:06] keegancsmith commented on #165
I have added https://github.com/sourcegraph/go-langserver/pull/173 which adds a limit param to xrefs. I think once that lands, we can close this out. However, we still need to update the spec and use the limit parameter in the frontend. + We should remove the 15s timeout once both of those have been completed.

[2017-03-06 21:43] #155 closed

[2017-03-09 14:41] zmb3 opened #174 "Hover doesn't work for builtins"
I'm not able to get any doc for builtins when using the language server in VS Code.

Before enabling language server, I could hover over a builtin and get doc:
![builtin](https://cloud.githubusercontent.com/assets/7527103/23754860/b987b6f2-049b-11e7-8945-b7e73ff3839d.png)

After enabling language server, nothing happens when I hover over a builtin (`make`, `append`, `len`, `cap`, etc.)

[2017-03-09 14:49] keegancsmith commented on #174
Thanks for filing this issue. It is a known issue that we don't support operations like hover, j2d and references on builtins. However, we didn't have an issue filed so thanks for that! Some other info given this issue now exists:

* For hover we should definitely add support.
* For j2d on builtins the potential destination isn't that interesting, so less obvious that it is valuable to add.
* For

[2017-03-09 14:52] zmb3 opened #175 "Struct fields are rendered without comments in hover"
Before enabling language server in VS Code, the hover tooltip would show comments on fields.  (Note the `// identifies the driver` comment I added for illustration.

![ggd-struct-comment](https://cloud.githubusercontent.com/assets/7527103/23755235/e8155bc2-049c-11e7-9ec3-b5c772c96858.png)

When language server is enabled, this information is no longer present.

![ls-struct-comment](https://cloud.g

[2017-03-09 15:01] zmb3 commented on #174
I completely agree.  I don't support definition for builtins in [gogetdoc](https://github.com/zmb3/gogetdoc) (the tool that used to power the hover provider) either.

Sounds like the right choice to me.

[2017-03-09 16:27] keegancsmith commented on #175
There was some debate about what to include in the hover tooltip here https://github.com/sourcegraph/go-langserver/pull/169 which you are welcome to add too. This is different than before, but not convinced it is valuable to add back in.

Missing the docs on hovering a struct field sounds like a regression. I'll fix + update the test suite to prevent that from regressing again.

[2017-03-11 08:00] beyang opened #176 "textDocument/didOpen leads to empty file contents"
I'm trying out a new edition of the emacs-lsp extension (https://github.com/sourcegraph/emacs-lsp/pull/9) and am encountering a scenario where a `textDocument/didOpen` notification seems to lead to the Go langserver to store empty contents for a file.

Repro steps:
- Install the version of the emacs-lsp plugin at https://github.com/sourcegraph/emacs-lsp/pull/9.
- Run `go-langserver -addr :4445 -tr

[2017-03-13 11:04] keegancsmith commented on #176
`didOpen` seems to be sending an invalid notification. You are missing most of the fields as described in [TextDocumentItem](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textdocumentitem) (notably the content of the document). The spec doesn't seem to indicate the field as optional, although in practice maybe we can make it optional? cc my favourite LSP person @fel

[2017-03-13 11:07] felixfbecker commented on #176
The whole point of the `didOpen` notification is to initialise in-memory file content so it can be modified with subsequent `didChange` notifications. The behaviour of the Go LS seems correct here.

[2017-03-14 18:15] neelance opened #177 "High memory usage after running for awhile"
I just enabled the langserver and did a few hovers for testing. Then vscode was in the background. After a few minutes my machine almost died. Apparently the langserver went up to 5.6GB of memory usage. I only have 4GB of physical ram, so no wonder my machine had trouble.

I'd say that memory usage has to stay constantly below 100MB to be a viable alternative.

[2017-03-14 18:20] beyang opened #178 "High memory & CPU usage after running for awhile"
Enabled the langserver and did a few hovers for testing. Then vscode was in the background. After a few minutes the langserver was using 5.6GB of memory (machine only has 4 GB RAM).

[2017-03-14 18:20] #177 closed

[2017-03-15 08:32] keegancsmith commented on #178
Related to https://github.com/Microsoft/vscode-go/issues/853

So the issue is our language server resource usage is currently tuned for a server environment were we have a premise of lots of RAM. This has been presenting us issues in prod as well, so rewriting our hover and j2d to be smarter with resources needs to be done. It is almost certainly related to using the simple go loader interface and

[2017-03-15 08:55] vanackere commented on #178
Same issue for me: even with 16GB of memory I had to stop using go-langserver in vscode because it was frequently using all memory, making the computer unusable and triggering the OOM-Killer...

[2017-03-16 19:24] nicksnyder opened #179 "Find references on interface method should show implementations of that method"
If find references on an interface method like Writer.Write, I want to see function declarations of Write that conform to this interface.

https://sourcegraph.com/github.com/golang/go/-/blob/src/io/io.go#L91:2-91:7

Right now, it only returns reference results for the call sites of these methods.

[2017-03-22 11:31] vanackere commented on #178
Since I can reliably cause the langserver to use all memory on my private code base., how can I help debug this issue (or at least find where most of the ressource are spent) ? Any profiling tool to run ? If so, how ?

[2017-03-23 21:10] ramya-rao-a commented on #178
@keegancsmith Any updates on this?

I have pushed a change for adding the ability to pass `-trace` and `-logfile` flags to the language server (See https://github.com/Microsoft/vscode-go/commit/50e5c8acd0553e04572b221924149b1b2f7926df)

Is there anything else you'd like to see users able to do?

[2017-03-30 00:50] netroby commented on #113
+1 windows support needed

[2017-04-03 21:53] beyang opened #180 "Standard library symbol search is sometimes slow, unreliable"
Repro:
- Go to https://sourcegraph.com/github.com/golang/go
- Search for "#marshaljson"
- It seems to spin indefinitely
- The symbol I was looking for is https://sourcegraph.com/github.com/golang/go@63a72fd447abb8a07bee9166e87bfe27780492c3/-/blob/src/encoding/json/encode.go#L220:2-220:13

Update: It appears `definition` on that symbol is very slow. I get a "Loading..." that lasts for more than 10

[2017-04-04 21:13] OneOfOne commented on #178
I hate to do this but any news on this? this is kind of a major issue.

I have 32gb of ram and the oom killer triggered twice in the last 4 hours, gocode is broken on go git.

[2017-04-17 22:38] beyang commented on #178
@OneOfOne Apologies for the delay. We're still looking into it, but have had to prioritize a few other features for Go in the past 2 weeks. I'll update this issue when we have a patch targeting this issue. Appreciate the feedback and thanks for trying it out!

[2017-04-18 11:07] keegancsmith opened #185 "go-langserver doesn't work when editing a package outside of the gopath"
See original issue in vscode-go https://github.com/Microsoft/vscode-go/issues/886

[2017-04-27 04:54] Brisdo commented on #177
I had the same issue...

Was there a resolution?

[2017-04-27 19:28] mgleason commented on #178
+1 Same issue here (on MacOS).  Seems to grow to consume all available memory and then keeps going consuming swap as the system slows to a crawl.

FYI - restarted "go-langserver", it re-spawned consuming 183.6MB of space.  Added a single space to a .go file and saved - memory consumed jumped to 576.0MB.  Changed a letter from lower to uppercase, saved, changed it back to lowercase, saved and memor

[2017-04-28 18:34] beyang commented on #178
Thanks for the feedback @mgleason. I'll be targeting the local machine use case in the next couple of weeks, so I hope to have a patch out soon. In the meantime, thanks for trying it out and posting the feedback!

[2017-04-28 18:35] beyang commented on #177
@Brisdo being tracked here now: https://github.com/sourcegraph/go-langserver/issues/178

[2017-05-06 17:00] mattoni commented on #185
Any updates on this?

[2017-05-18 00:03] #66 closed

[2017-05-18 00:03] #57 closed

[2017-05-18 01:25] lindaxie commented on #180
No longer an issue. Closing.

[2017-05-18 01:25] #180 closed

[2017-05-19 14:12] keegancsmith commented on #178
A detailed comment for someone who tackles this problem.

TLDR: Rewrite everything in loader.go so we work more like the go compiler. https://sourcegraph.com/github.com/sourcegraph/go-langserver@ee6a3562/-/blob/langserver/loader.go

Currently this language server is optimized for the server environment on sourcegraph.com. The tradeoffs which most negatively effect desktop users are:
* Many shared

[2017-05-31 17:57] slimsag commented on #178
(Hi all! I'm taking over here where @keegancsmith had to leave off)

I've merged https://github.com/sourcegraph/go-langserver/pull/192 just now which will significantly help lower the memory consumption of the language server, by somewhere between 20-40% from my testing.

I suspect my above PR entirely fixes this issue, but I also have another change brewing that will lower the memory consumption

[2017-05-31 19:42] OneOfOne commented on #178
I'll test and get back to you, woo

[2017-05-31 20:11] OneOfOne commented on #178
It seems stable around 4.3G of RAM (16.9G virtual), been running for 30 mins or so.

[2017-06-01 21:30] OneOfOne commented on #178
It randomly happened again, it spiked to 25G and I had to ssh in from my phone to kill it. :( @slimsag

[2017-06-01 22:21] slimsag commented on #178
Thanks for giving it a shot and providing feedback, @OneOfOne, we appreciate it! Any details you can provide would be helpful:

1. How long was it running before it happened? A few hours, multiple days, etc.
2. Did you notice if the spike occurred very rapidly or slowly over a long period of time?
3. If possible, which codebase does it occur on? Or if it is private, is there an open source project

[2017-06-01 22:41] OneOfOne commented on #178
Glad to help, when it works it's really responsive and great.

1. Less than 10 minutes, which is odd because I worked on the same project for several hours yesterday and it didn't cause any issues.
2. It was very rapid, I was trying to get to the source of a function when it happened.
3. Sadly it's a private project, that includes 10-15 sub projects, has unsafe in it, the code base is about ~5mb o

[2017-06-02 00:12] henvic commented on #178
A simular issue is still happening on my Mac (tried updating after these changes) on a small sized project (< 30k LOC). But here is more high CPU usage than memory.

After the update I could use the langserver for more time, but after a while it still happens.

[2017-06-02 18:06] cossay commented on #178
I'm also having the same problem here on Ubuntu. High memory and CPU usage:
![screenshot from 2017-06-02 17-50-53](https://cloud.githubusercontent.com/assets/2929250/26738541/0b144494-47be-11e7-9fb1-f6218af31339.png)
![screenshot from 2017-06-02 17-52-13](https://cloud.githubusercontent.com/assets/2929250/26738556/1672f6e6-47be-11e7-87fa-b92c9c6b3b9e.png)

[2017-06-02 18:08] slimsag commented on #178
Hi @cossay

Your screenshot shows processes like `godef` running, but as far as I know that should not be running if you have set `"go.useLanguageServer": true,` in your VS Code settings. Can you confirm you're testing with that option turned on?

[2017-06-02 18:18] cossay commented on #178
@slimsag, you are right. I have "go.useLanguageServer" set to "false" in my VS Code settings. I'm going to set it as you suggest and see what happens.

[2017-06-02 19:35] slimsag commented on #178
It'd also be very helpful if anyone observing high memory or CPU usage could upload an SVG profile, see https://github.com/sourcegraph/go-langserver#profiling

[2017-06-03 14:48] henvic commented on #178
@slimsag,

https://cl.ly/3l2y3g0a0Q0a
https://cl.ly/3D0Q390N2t2N

[2017-06-05 14:37] henvic commented on #178
Now with almost 100% usage after ~45min:
https://cl.ly/3Y2z3x1z2a0h
https://cl.ly/201G40441R1u

[2017-06-05 17:23] ramya-rao-a commented on #185
cc @slimsag

[2017-06-09 23:40] ramya-rao-a opened #193 "Add build tag support for "Go to Definition" feature"
See https://github.com/Microsoft/vscode-go/issues/1024

The language server doesnt return definition location when there is a build tag in the file

[2017-06-14 06:53] #85 closed

[2017-06-14 22:23] slimsag commented on #178
@henvic @OneOfOne (/cc @ramya-rao-a) I've made another significant improvement to the memory consumption issue. I believe this should solve the issue you've all observed with the memory usage growing constantly. Now, it should sit at some constant number based on how large your project is (e.g. it should idle at a few hundred MB instead of growing into multiple GB).

The CPU usage issue / slowness

[2017-06-15 01:52] OneOfOne commented on #178
I'll give it a try and report back.

[2017-06-15 17:02] OneOfOne commented on #178
Good news / bad news kinda thing, good news is it stabilized at 1.6gb (~5%) of ram, bad news is every time I type anything it spikes to using 800% CPU. @slimsag

[pprof.go-langserver.samples.cpu.001.pb.gz](https://github.com/sourcegraph/go-langserver/files/1078328/pprof.go-langserver.samples.cpu.001.pb.gz)
[cpu.svg.gz](https://github.com/sourcegraph/go-langserver/files/1078376/cpu.svg.gz)

[2017-06-15 19:54] slimsag commented on #178
Thanks for the feedback, @OneOfOne !

That is actually just good news. I am already aware of the CPU usage issue and am working on it now :) will update soon.

[2017-06-23 23:15] slimsag commented on #178
(Copying the message I just posted in https://github.com/Microsoft/vscode-go/issues/853#issuecomment-310792440 since these were basically the same issue.)

Hi everyone ( /cc @ramya-rao-a ), this issue should be fixed now. 😃 Very significant improvements have been made to both goto definition and hover requests, and they now use a tiny fraction of the memory / CPU usage seen before.

To update, ple

[2017-06-24 03:41] fsouza commented on #178
@slimsag thanks for working on that!

I know that Go 1.9 is still in beta, but could you add support for it? Installing go-langserver on go 1.9beta1 fails:

[code]

[2017-06-24 20:11] slimsag commented on #178
Hi @fsouza, thanks for the feedback. I just fixed that in https://github.com/sourcegraph/go-langserver/commit/66ff4f536c4fe4a5c525472820a563939a0ab00f so try giving `go get -u github.com/sourcegraph/go-langserver` another shot now.

[2017-06-24 23:11] fsouza commented on #178
@slimsag awesome, it works! Thank you very much! :D

[2017-06-26 15:35] ramya-rao-a commented on #178
@OneOfOne @henvic @vanackere @cossay Can you update the language server `go get -u github.com/sourcegraph/go-langserver`, turn the setting back on and let us know how it works for you?

[2017-06-26 17:28] OneOfOne commented on #178
3 hours so far and it's steady at 1.5g virt mem and 0.7-1.5% cpu!

[2017-06-26 19:36] OneOfOne commented on #178
Sadly after a while the cpu usage spikes to 40% and stays there even when idle.

[2017-06-26 19:41] slimsag commented on #178
Hi @OneOfOne -- please do the following to give me some more insight:

1. Capture a CPU profile: `go tool pprof -svg $GOPATH/bin/go-langserver http://localhost:6060/debug/pprof/profile > cpu.svg` and upload the cpu.svg file (or email to stephen@sourcegraph.com)
2. While it is using 40% CPU, kill the process via terminal with `kill -SIGQUIT $(pgrep go-langserver)`, then inside of VS Code `Output` t

[2017-06-28 19:16] OneOfOne commented on #178
Ok I can't reproduce it anymore, so it seems to be working good, if I run into it I'll update this issue.

Thank you for your hard work @slimsag.

[2017-06-28 20:32] slimsag commented on #178
Alright :) Please don't hesitate to open a new issue if you run into it again (even if you have little or no info)!

[2017-06-29 08:34] slimsag commented on #175
FYI this no longer happens when using the language server with VS Code since the new godef-based hover implementation.

[2017-06-29 08:53] slimsag commented on #185
@keegancsmith what are your thoughts on this issue? I looked into the referenced issue and I can imagine two scenarios:

1. Opening a project outside $GOPATH, but having a $GOPATH set.
2. Opening a project outside $GOPATH, but having no $GOPATH set.

I don't think we can support the latter case feasibly because of our reliance on `$GOPATH/pkg` now, so I assume this issue is just about supporting c

[2017-06-29 15:10] keegancsmith commented on #185
I think hover/def didn't work before your godef change. Just that working may be sufficient.

The workspace operations won't really work, since in general we need to know the package name a file lives in, and without a GOPATH we don't. However, we can do best effort for */symbol since all that really relies on is parsing the AST. For references I don't think we could reasonably support that withou

[2017-06-29 15:11] keegancsmith commented on #185
A more useful thing we could do is warn the user they are outside a GOPATH, and possibly provide an action to autoconfigure (find /src/ in a parent directory). I think that would have to be done in the extension, rather than in server.

[2017-07-25 17:39] slimsag commented on #178
Closing since this issue is stale / no further complaints about performance have been made. If anyone runs into issues, please do not hesitate to create a new issue! :)

[2017-07-25 17:39] #178 closed

[2017-08-25 18:37] ramya-rao-a opened #199 "textDocument /documentSymbol is missing receiver functions"
_From @josh-tepper on August 11, 2017 17:39_

When I set `"go.useLanguageServer": true`, I no longer see receiver functions (aka methods) when I type "@" in the command palette (though I see all other symbols).  This is in contrast to the behavior when I use go.docsTool set to either godoc or gogetdoc.  Nonetheless, I wish that I had these symbols because they're useful!

_Copied from original iss

[2017-08-25 18:37] ramya-rao-a commented on #199
_From @josh-tepper on August 25, 2017 14:44_

@ramya-rao-a have you seen this?  Should I file this with the sourcegraph folks or is this an artifact of the way vscode-go invokes or uses go-langserver?

I just updated my langserver with go get, and I have this version:
[code]

[2017-08-25 18:37] ramya-rao-a commented on #199
Hey @josh-tepper

Sorry my notifications are all in a mess, don't know how I missed this issue.

Yes, this should be logged in the repo for the language server.

No worries I'll move it.

[2017-08-25 18:39] ramya-rao-a commented on #199
cc @slimsag

[2017-09-07 16:32] josh-tepper commented on #199
@slimsag  -- I just wanted to check -- did you see this issue?  No rush, of course!

[2017-09-08 00:24] derwiki commented on #77
👍 would also like to see this implemented!

[2017-09-08 19:34] slimsag commented on #199
Sorry for the (sever) delay in responding to this :) I haven't had a chance to look at/into this issue. @keegancsmith is going to take a look soon

[2017-09-08 19:54] keegancsmith commented on #199
Hey @josh-tepper can you give more information on how to reproduce? When I try this myself I see methods.

[2017-09-10 03:05] josh-tepper commented on #199
That's interesting.  I've just recently noticed that very occasionally, I do see methods, but mostly I still don't.

I'll turn on the option to cause vscode to invoke go-langserver with -trace, and I'll send details shortly (Monday).

[2017-09-12 22:56] ckaznocha opened #200 "textDocument/hover response range is the position of the declaration"
Hi,
Thanks for building go-langserver, I'm psyched for a go LSP. Yesterday evening I started a package for the new `atom-languageclient`. `atom-languageclient`'s Datatip expects the `range` in a hover response to be the location where the symbol is used however `go-langserver` returns the location where the symbol is declared. I'm not sure which is correct and the LSP spec is a bit ambiguous: http

[2017-09-13 14:08] keegancsmith commented on #200
Thanks! I think you are right, we should be highlighting the current token for hover. The language is a bit ambigious, but it makes sense to be the document you can see, rather than potentially another file.

[code]

What do you think @slimsag @sqs?

[2017-09-13 16:08] hibooboo2 opened #201 "Code completion."
Why is auto complete / code completion not supported? If it is why is it not shown in the graph on langserver.org ?

[2017-09-13 18:29] sqs commented on #200
Yes, that is correct. I believe VS Code would be ignoring the hover range if it’s not on the same line as the user’s cursor and instead supplying a default, which is why we didn’t see this issue before.

[2017-09-14 18:50] josh-tepper commented on #199
I'm not really sure how to explain how to reproduce.  I have a sizeable go project.  Here is a sample trace, but unfortunately I've had to redact it as this is all internal source code.  I'm not sure how useful this is:

<-- result #3: textDocument/documentSymbol: [{"name":"redactedConst1","kind":14,"location":{"uri":"file:///Users/joshtepper/REDACTED/go/src/REDACTED.go","range":{"start":{"line":2

[2017-09-14 18:51] josh-tepper commented on #199
What steps can I take to help.  I would say that the receiver functions are almost always excluded.

[2017-09-14 19:00] josh-tepper commented on #199
Oh -- I actually think that I figured it out:
It seems to happen if and only if the type from the receiver is defined outside the current file (but per the requirements of the language, in the same package of course).

[2017-09-15 01:01] netroby opened #202 "go-langserver use large amount cpu"
Check the develop tool windows, see these message
[code]

[2017-09-15 01:03] slimsag commented on #202
Hi, please capture a CPU profile when the CPU utilization is high. See https://github.com/sourcegraph/go-langserver#profiling

Without a profile / way to reproduce I can't really say what is going on here.

[2017-09-15 01:11] #202 closed

[2017-09-17 23:30] beyang commented on #201
Hi James! It's not supported simply because we haven't gotten around to implementing it yet. The initial use case for this language server was in a read-only setting. It is high up on our list of wanted features and I think it would be a fairly straightforward feature to implement with standard Go tooling. We're not actively working on it at the moment, but would accept pull requests from the comm

[2017-09-21 10:08] keegancsmith commented on #199
@josh-tepper thanks, I just pushed a failing test case for that https://github.com/sourcegraph/go-langserver/pull/204 Will potentially work on a fix soon.

[2017-10-03 12:40] awilkins opened #205 "[Question] How easy would it be to make a language server library from this code?"
Specific use case : I find myself wanting a Terraform language server.

Terraform is written in Go. I feel like the best plan is to implement a language server that can consume all of Terraform's code to mine it for type information on the various resources.

Since this is a language server written in Go... is there a good enough break here between "implements a language server *in* Go" and "imple

[2017-10-03 15:20] keegancsmith commented on #205
I actually considered writing a terraform LS a while ago for fun, but never found the time. So I agree with your idea. The `pkg/lsp` type definitions you will find useful. Otherwise there really isn't that much that you could share with the stuff in `langserver`, nor would you want to. You basically just want `pkg/lsp` and the `jsonrpc2` package. To implement your handler take a look at this entry

[2017-10-06 07:47] awilkins commented on #205
Thanks for the pointers!

[2017-10-06 10:38] #205 closed

[2017-10-17 22:10] Ekalu opened #207 "Extreme High memory & CPU with GitHub Desktop on Windows 10"
Hello, I hope some one can help me out here. I am trying to use GitHub with Unreal Engine 4 and have been getting extremely bad issues while using GitHub. Apparently my Memory and CPU both will go as high as 99% to 100% on both when I launch either GitHub Desktop or SourceTree (which uses GitHub and not as bad with CPU usage as GitHub Desktop). I have noticed that when I open the task manager I ca

[2017-10-17 22:42] Ekalu commented on #207
Update: I have just restarted my system and decided to try some thing a bit different and discovered a possible issue that may be the cause.I had tested it this way:

1. Opened Task Manager
2. started GitHub Desktop
3. Tried to import my Unreal Engine Project to push to GitHub online
4. When option to start Git LFS I pressed the ok button to start it. From here I noticed in the task manager the CP

[2017-10-17 22:46] slimsag commented on #207
Hi @Ekalu it seems like your issue is specific to [GitHub Desktop](https://desktop.github.com/) and is not related to the Sourcegraph Go Language Server at all?

If so, you'll need to contact GitHub directly as there is nothing we can do to help you (we're not associated with GitHub). :) You can probably reach them via email or twitter.

You can also file it as a Git LFS issue here: https://github

[2017-10-17 22:46] #207 closed

[2017-10-20 01:49] KISSMonX opened #208 "There may be a memory leak?"
![cc859af8-2b72-4be2-8bee-7510fdbe2e1d](https://user-images.githubusercontent.com/2876745/31801593-e64ca49e-b50e-11e7-9cdc-04b8aa395c91.png)

[2017-10-20 08:52] keegancsmith commented on #208
@KISSMonX Could you update your go langserver? This is likely a duplicate of the now fixed issue https://github.com/sourcegraph/go-langserver/issues/178

[2017-10-20 10:08] leaxoy commented on #208
same issue

[2017-10-20 10:16] leaxoy commented on #208
This extension looks unavailable, there is my config: `-usebinarypkgcache=false -trace`, after a while, memory usage increase crazy, then will be killed by system.

[2017-10-20 10:17] leaxoy commented on #208
Is there any way for user to debug this extension, may be I can provide more log with debug info

[2017-10-20 10:21] slimsag commented on #208
Please try without setting usebinarypkgcache=false, that will cause greatly
instead memory usage.

If still having a problem, see readme to capture a heap profile please.

On Oct 20, 2017 3:17 AM, "lixiaohui" <notifications@github.com> wrote:

Is there any way for user to debug this extension, may be I can provide
more log with debug info

—
You are receiving this because you are subscribed to thi

[2017-10-20 10:26] leaxoy commented on #208
Ohh, but without this option for some package the hover info is missing.

[2017-10-20 10:49] leaxoy commented on #208
Looks as if during my type sending `contentChanges` event, memory increase crazy.

[2017-10-20 12:20] keegancsmith commented on #208
We don't support using that option in a desktop environment. It is used in our server environment where the working copy is immutable and type information is shared between different working copies.

If you do not have memory issues without the flag, are you happy to close this and file an issue for the missing hover info?

[2017-10-20 12:25] leaxoy commented on #208
Sure, thank you! However, this issue isn't open by me 🤪

[2017-11-14 09:10] frou commented on #174
It doesn't seem far-fetched to want to find all uses of `panic` in a codebase. Or `close` when debugging channel behaviour. Or `make` when optimizing (adding capacities in addition to lengths at slice make sites).

[2017-11-17 20:41] chandradeepak opened #209 "go-langserver uses lot of cpu and this causes vscode to hang or slow responsiveness"
Macbook
OS x EI Captain

Attached is the cpu profile

[2017-11-17 20:43] chandradeepak commented on #209
[cpu.svg.zip](https://github.com/sourcegraph/go-langserver/files/1483770/cpu.svg.zip)

[2017-11-17 21:11] keegancsmith commented on #209
Thanks for the report @chandradeepak as well as the profile. How does the resource usage compare to the reference finder without the language server? Our reference implementation is a modified version of the reference finder in go guru (what the plugin uses).

When did you install the language server? We did some major updates a few months ago which should help a lot with resource usage, so just i

[2017-11-17 21:14] keegancsmith commented on #209
The trace seems to point to most of the time spent reading files. Right now the implementation relies on the go typechecker. It shouldn't do more work than go does to compile your application. IS the time take a similar amount of time without a pkg cache?

[2017-11-20 01:55] cstrike commented on #180
I meet the same problem, how to solve it?

[2017-11-21 21:07] chandradeepak commented on #209
what is a pkg cache? Not sure what it is. I know my language server is latest .

[2017-11-22 06:26] Contextualist opened #210 "Why TextDocumentSyncKind.Incremental is implemented but not used?"
I notice that the handler is capable to process incremental changes in `textDocument/didChange` event.
https://github.com/sourcegraph/go-langserver/blob/885ad3639de0e1e6c230db5395ea0f682534b458/langserver/fs.go#L154-L159
However, in the initial parameters, the sever declares its capability as `TextDocumentSyncKind.Full`
https://github.com/sourcegraph/go-langserver/blob/885ad3639de0e1e6c230db5395ea

[2017-11-22 07:48] keegancsmith commented on #210
The server doesn't process notifications necessarily in the order they are received, since we spin up a goroutine for each received jsonrpc2 request/notif. Which means we may apply the incremental patches in the wrong order depending on the whims of the go runtime. Once that is fixed we can start using the incremental patches again.

[2017-11-25 03:34] Contextualist commented on #210
I see, but now the server uses `jsonrpc2.HandlerWithError`(a sync handler) instead of `jsonrpc2.AsyncHandler`, and `lspHandler` wraps `LangHandler` so that the requests that mutate the typecheckers (e.g. `textDocument/didChange`) are blocking. Am I correct to assume that all changes to the document are processed serially?

[2017-11-25 06:35] keegancsmith commented on #210
@Contextualist you are right, I forgot I "fixed" that :) We should be fine with using incremental.

[2017-11-25 20:13] #210 closed

[2017-11-28 00:38] ramya-rao-a opened #213 "godef panics on ast.BadExpr"
_From @sidmishraw on November 27, 2017 5:19_

go-langserver keeps crashing when I try to hover over methods to see their definition.

Following is the log for go-langserver from the Output pane:
[code]

My configuration is as follows:

* Go version = `go version go1.9.2 darwin/amd64`

* User specific settings:
[code]

* go-langserver -version = `v2-dev`

* VScode version = `1.18.1`

* OS = `macOS

[2017-11-28 00:38] ramya-rao-a commented on #213
_From @jeyanthimuthuram on November 27, 2017 6:58_

try using `Go: Install/Update tools` to re-install the packages , after installation try restarting your vscode

[2017-11-28 00:38] ramya-rao-a commented on #213
_From @sidmishraw on November 27, 2017 7:3_

Tried that and it still crashes when I hover the mouse pointer over a method name a few times(mostly 5-6 times).

The workaround I'm using to get by this issue is a window reload using the `Reload window` command 😭

[2017-11-28 00:38] ramya-rao-a commented on #213
cc @slimsag @keegancsmith

[2017-11-28 11:48] keegancsmith commented on #213
@slimsag this is weird. It looks like we are using the same parser that godef, so I'd assume this would be an issue with normal godef as well?

@sidmishraw:
* when you don't use the langserver, do you often have the same hovers failing to show up?
* Can you compile the server with this line changed to `Debug = true` https://github.com/sourcegraph/go-langserver/blob/master/langserver/internal/godef

[2017-11-28 11:50] slimsag commented on #213
@keegancsmith

Yep, should be. Godef (and inherently, us) use a very old version of `go/parser` from before it was in the stdlib. This issue is probably about some new code being fed to the LS which that old parser doesn't understand, so it looks like a syntax error. For example, a type alias could cause this.

[2017-11-28 11:56] keegancsmith commented on #213
Yeah that is what I suspected. Given godef uses the panic pattern regularly, should we add a quieter panic handler for calls out to godef?

[2017-11-28 11:59] slimsag commented on #213
I would argue not, would make it harder to track down causes imo.

On Nov 28, 2017 4:56 AM, "Keegan Carruthers-Smith" <notifications@github.com>
wrote:

[2017-11-29 00:32] sidmishraw commented on #213
@slimsag now that you mention this, I do use type aliases in my code. To verify this, I opened up another Go project without type aliases in it and the hover over functions worked fine, but, the hover over method names still gives `failed to find doc object for` error message. Also, the langserver doesn't crash like in case of the project with type aliases.

@keegancsmith

When I turn off the lang

[2017-11-29 08:17] keegancsmith commented on #213
Thanks for the detailed information! I'll work on this tomorrow and hopefully push a fix then :)

[2017-12-01 14:02] keegancsmith commented on #213
Apologies for the delay at fixing. Other work has come up. I'll take a look at this on Tuesday.

[2017-12-02 07:02] sidmishraw commented on #213
No worries 😊

[2017-12-06 16:22] Timmmm opened #215 "CompletionItem.TextEdit should be a pointer"
The current definition is:

[code]

It should be:

[code]

Otherwise you *have* to provide an edit. The default `TextEdit` causes VSCode to log errors and doesn't show the completions.

Great package by the way, thanks!

[2017-12-06 16:43] keegancsmith commented on #215
Thanks. I'll gladly accept a PR here, you've basically done it already in the issue description!

[2017-12-06 22:41] Timmmm commented on #215
Yeah the only reason I didn't do it as a pull request is I wasn't sure if
anything else depends on it being a value type... If not then I'll send one!

On 6 Dec 2017 4:43 pm, "Keegan Carruthers-Smith" <notifications@github.com>
wrote:

[2017-12-07 10:21] keegancsmith commented on #215
Thanks please do!

[2017-12-08 10:19] BugDiver opened #216 "Change deprecated MarkedString to MarkdownString"
Language server protocol has deprecated the `MarkedString` and they are replacing it with `MarkdownString`.
Please update the lsp library.
Ref  https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#new-markupcontent

[2017-12-08 12:11] #213 closed

[2017-12-09 00:05] geonilpark opened #217 "[Question] How to set DocumentFormattingProvider dynamically?"
Hi,

I would like to set DocumentFormattingProvider dynamically between my editor and go-language-server without reinitializing.

I appreciated if this is possible or how to do that.

Thanks,
Geonil

[2017-12-11 04:11] acornejo commented on #27
From what I can tell it seems go-langserver was built primarily to power sourcegraph codesearch backend, and in that scenario autocompletion doesn't really make sense since codesearch is not for editting code just navigating it.

I was looking for a go langserver to use for editing and I came across this, but from an editor's perspective autocomplete is perhaps the MOST important feature in LSP.

[2017-12-11 06:17] keegancsmith commented on #27
For alternative projects:
* There is https://github.com/theia-ide/go-language-server which is essentially taking vscode-go extension and making it speak LSP instead of `vscode.ts`
* There is another experimental go language server in the works at https://github.com/dominikh/go-tools/issues/136 I am confident it will be high quality when it is ready, and possibly supersede this project.

As for add

[2017-12-11 06:22] Contextualist commented on #27
I have tried adding the completion feature to go-langserver by vendoring gocode and adapting its interface to LSP (just exposing a single function & translating request/response, not a great amount of work). It actually works, but I am not sure if it's an optimal way or there are caveats unspotted. I can open a PR if it is really wanted.

[2017-12-11 06:39] keegancsmith commented on #217
I'm not quite sure what you want to achieve. Do you want the langserver to not have `DocumentFormattingProvider` set to `true`?

[2017-12-11 06:43] keegancsmith commented on #27
Yeah we have had issues in the past with memory use so I get the feeling this might not be optimal use of memory. However, I am keen to add it with a command line flag to enable. Try it out for a bit then if it works well we just have it enabled by default.

So @Contextualist the PR sounds good to me :)

[2017-12-11 18:13] geonilpark commented on #217
I have a requirement to enable/disable DocumentFormattingProvider depending on a criteria - database version. So, if version > 20 then enable otherwise disable. So, I would like to override DocumentFormattingProvider after initialize..

[2017-12-11 20:03] keegancsmith commented on #217
LSP does not provide a way to turn this functionality off dynamically. I'm not sure what editor you use, but it may make sense for you to implement this sort of logic in the editor. IE go-langserver supports formatting. If you don't want to format just don't send the format calls. Not sending the format calls is the responsibility of the editor or plugin or user.

Does that sound reasonable, or am

[2017-12-12 07:01] acornejo commented on #27
Thanks for the feedback @keegancsmith. FWIW my understanding is that vscode-go relied on gocode for completion, so if https://github.com/theia-ide/go-language-server  works it is the equivalent of wrapping gocode with LSP protocol.

Regarding the idea of extending go-to-definition to get autocompletion, unfortunately I think its a bit more than that.

What you described would work only for:

type.

[2017-12-15 18:27] geonilpark commented on #217
I see. So, LSP is not yet ready for "client/registerCapability" for overriding current setting?
I am using monaco-editor and I made a workaround by passing initializationOptions param which is static setting for DocumentFormattingProvider at initialize.
Thank you, again. :)

[2017-12-16 04:37] keegancsmith commented on #217
Sorry you are correct. We don't support `client/registerCapability` so I hadn't read up about it to understand your question. I'm turning this question into a feature request.

[2017-12-18 19:02] #215 closed

[2017-12-18 19:02] #27 closed

[2017-12-18 19:02] #77 closed

[2017-12-18 19:02] #201 closed

[2017-12-22 08:45] dsvensson opened #220 "Support symbol renaming"
Currently [go-rename](https://godoc.org/golang.org/x/tools/cmd/gorename) exists ([MELPA](https://melpa.org/#/go-rename)), but is excruciatingly slow on even small code-bases. It would be really nice to have [rename-support](https://microsoft.github.io/language-server-protocol/specification#rename-request-leftwards_arrow_with_hook) via go-langserver.

[2017-12-22 09:19] keegancsmith commented on #220
This has been debated a few times in go tools issues. The problem is go guru/rename/mvpkg/etc have a concept of scope which very often defaults to your whole `GOPATH`. So go rename is slow because it is inspecting your whole GOPATH.

However, earlier this year there was mention of the go team improving this https://github.com/golang/go/issues/10917#issuecomment-284481820

But I think it is worth i

[2017-12-22 09:38] dsvensson commented on #220
At least in my environment, all application git-repos are GOPATH roots, so I clone example project foo.git to directory foo, and will then have foo/.git, foo/src/foo/main.go, foo/src/vendor/bar etc. go-projectile detects this and configures GOPATH accordingly and lets guru and all other tools play nice in emacs. I haven't used go-langserver yet, found it just an hour ago and I'm excited to try it

[2017-12-22 10:21] keegancsmith commented on #220
aah, and its still slow? Then I'm not sure if we could make it faster. Although in theory it should be as fast as find references which we have made faster than go guru.

[2018-01-08 01:54] ramya-rao-a opened #223 "Hover fails for methods on types"
Hovering on `b.Bye` in the below code in VS Code fails

[code]

<img width="930" alt="screen shot 2018-01-07 at 5 53 16 pm" src="https://user-images.githubusercontent.com/16890566/34656789-addaa26a-f3d3-11e7-9959-d88cce0e8ce9.png">

[2018-01-08 08:55] keegancsmith commented on #223
Thanks, this looks easy to fix. Will add to the test suite.

[2018-01-10 08:34] #223 closed

[2018-01-19 03:04] ramya-rao-a opened #227 "Goto definition not working for dot imports"
In the below case, the definition provider fails for `Println`
[code]

[2018-01-19 07:34] keegancsmith commented on #227
We also use godef as well. The use of `.` imports is discouraged and linting tools actually complain if you use them outside of a package test https://github.com/golang/go/wiki/CodeReviewComments#import-dot

As such this is a very very rarely used go feature. So will be pretty low priority for us to fix, so I don't think we will fix it anytime soon.

[2018-01-19 07:35] lloiser commented on #227
There is a pull request at godef: https://github.com/rogpeppe/godef/pull/68

[2018-01-22 15:35] Macilias opened #228 "not working properly with VS Code and Go Extension"
Hi, I use
VS Code Version 1.19.2 (1.19.2)
with Go Extension 0.6.73
and Go version go1.9.2 darwin/amd64
running on macOS 10.13.2 (17C88)

Yesterday I finally had the server running by deleting the otherwise recomended setting from VS Code: "go.useLanguageServer":true.
But today it refuses to work again, and also any combination fo the setting (true/false/not there) does not help any more.

Please h

[2018-01-22 16:00] Macilias commented on #228
update, it actually started to work again. The only difference is that there was one empty file without package declaration within the WS which prevented the compiler from building, once solved the find all option did work again. But really, it does not work with fully compiling code?
What is the best way to test the language server?

[2018-01-23 05:55] Cosson2017 opened #229 "Result is null when find references"
Result is null when find references.
follow is log:
![screenshot_20180124_112622](https://user-images.githubusercontent.com/20379044/35313232-3411fa62-00fa-11e8-98df-2f0c23ee923c.png)

[2018-01-26 06:51] keegancsmith commented on #228
Jump to definition and hover should work, some other features may trip up. When you say it wasn't working, what exactly do you mean? `"go.useLanguageServer": true` means it will use this project. Without that setting your issue may make more sense to file on https://github.com/Microsoft/vscode-go

[2018-01-26 06:52] keegancsmith commented on #229
Thanks, we have that issue a few times due to how go json serializes empty values. I'll take a look for the reference code.

[2018-01-26 11:09] Macilias commented on #228
you are right, its a VS Code (or go extension) bug.

[2018-01-26 12:15] #228 closed

[2018-02-01 18:35] ramya-rao-a opened #231 "Feature Request: Codelens for references"
The code to find all references is already in place.
It would be great to leverage that to provide codelens for references as well

[2018-02-08 05:31] jmarais opened #232 "Incorrect package naming in package: go-langserver\langserver\util"
On a windows host with go1.9 I get the following error:

src\github.com\sourcegraph\go-langserver\langserver\internal\tools\buildutil.go:11:2: found packages util (context.go) and utils (os_windows.go) in \src\github.com\sourcegraph\go-langserver\langserver\util

I think the naming of the os_windows.go package should change from "utils" to "util".

I did that to fix the install process.

[2018-02-13 12:15] #229 closed

[2018-02-13 12:16] keegancsmith commented on #232
Sorry about that! Fixed in master. I've turned on notifications from appveyor to avoid this in the future.

[2018-02-13 12:16] #232 closed

[2018-02-13 12:17] keegancsmith commented on #231
find references in general is not that fast. Is this a commonly used/requested feature in vscode-go?

[2018-02-13 12:23] #208 closed

[2018-02-13 12:28] keegancsmith commented on #193
@ramya-rao-a we actually support an unofficial extension to LSP to specify the build tags to use https://sourcegraph.com/github.com/sourcegraph/go-langserver/-/blob/langserver/lspx.go#L41

So your initialize request would additionally specify something like
[code]

[2018-02-13 14:08] keegancsmith commented on #200
Sorry about forgetting about this issue. I took a look today and the issue seems to be a regression from us switching to godef, our previous implementation did this correctly and our regression suite doesn't check hover range. So thanks for the report! I got started on updating our tests to catch this but ended up going down a massive rabbit hole. Will take a look again soon.

[2018-02-13 14:58] BugDiver commented on #216
@keegancsmith I have created a [PR](#237) for it. Please have a look and provide your valuable feedback.

[2018-02-13 19:36] chandradeepak commented on #209
@keegancsmith ,  vscode-go would be smooth until i change some files with out langserver . But it  has some other issues as well. In my GOPATH i have so many repos. Do you think that is the cause ?

[2018-02-13 20:05] slimsag commented on #209
@chandradeepak To clarify what @keegancsmith said above a bit: `find references` with the language server is more slow if your code imports a lot of Go packages, or if the packages you import themselves import a lot of Go packages (i.e. transitive dependencies). The more Go files your program ultimately uses in the end, the slower `Find References` is in general.

If you disable the language serve

[2018-02-14 05:30] ramya-rao-a commented on #193
Am not sure how to include that when creating the language client.
I can set the `intializationOptions` which you will get in https://sourcegraph.com/github.com/sourcegraph/go-langserver/-/blob/pkg/lsp/service.go#L18:2

[2018-02-14 05:35] ramya-rao-a commented on #231
Its not very popular mainly due to the reason `guru` is slow
I assumed that the find all references from the language server is much faster than `guru`, so was hoping to get that feature from here

[2018-02-14 05:51] slimsag commented on #231
@ramya-rao-a Unfortunately the language server's find all references is generally the same performance-wise as `guru`.

This mostly comes from the way it is implemented in the language server and in `guru`, which is through Go's https://godoc.org/golang.org/x/tools/go/loader package which does all the work as far as resolving types, etc. Currently, this package doesn't support serialization or any

[2018-02-14 05:55] slimsag commented on #193
@ramya-rao-a To clarify what @keegancsmith said above a bit, you would specify the `initializationOptions` like this:

[code]

That is to say, the language server supports an unofficial extension to LSP where you can specify that `BuildContext` field in the `initializationOptions` field you normally sent on LSP client init.

[2018-02-14 10:29] keegancsmith commented on #231
Our find references I believe is a bit faster, due to us limiting the scope to the workspace rather than the whole of GOPATH. But that is a fact in my head from a long time ago, so I have no idea if I a remembering that correctly.

[2018-02-14 19:04] ramya-rao-a commented on #231
Thats good to know, thanks @slimsag

[2018-02-22 18:49] ramya-rao-a opened #240 "Find All References not working when using the language server in VS Code"
Am very sure this worked before, but with the latest bits for the language server, the `Find All References` feature is not working

<img width="1033" alt="screen shot 2018-02-22 at 10 48 45 am" src="https://user-images.githubusercontent.com/16890566/36557754-033912b0-17be-11e8-97cc-c0906020cbbf.png">

[2018-02-23 06:04] vitreuz opened #241 "No difference between interfaces and classes"
Hi, this probably ends up being more of a feature request than anything else. But I noticed adding an interface type to the [test here](https://github.com/sourcegraph/go-langserver/blob/1e571d690e259cdb944b96c5d3596dff9e6cb13d/langserver/langserver_test.go#L779) (such as `type UVW interface{}`) returns it as type class (specifically `"/src/test/pkg/abc.go:class:UVW:3:6"`).

Since the lsp has a val

[2018-02-23 12:02] #200 closed

[2018-02-23 12:03] keegancsmith commented on #240
@ramya-rao-a can you try again, I believe this PR fixes the issue https://github.com/sourcegraph/go-langserver/pull/230

[2018-02-23 12:07] keegancsmith commented on #241
This actually shouldn't be too hard to add so is likely a good candidate for a first time contribution. @slimsag are there any implications in our cross-referencing stack if workspace/symbols (or its shared code) starts to treat interfaces as interfaces in LSP instead of classes?

[2018-02-23 17:21] ramya-rao-a commented on #240
Works now

[2018-02-23 17:21] #240 closed

[2018-02-26 12:57] keegancsmith commented on #36
As mentioned in this PR, we should easily be able to add this https://github.com/sourcegraph/go-langserver/pull/242#discussion_r170582002

[2018-02-26 12:57] #241 closed

[2018-02-27 10:02] keegancsmith opened #244 "Data race in BuildContext()"
[code]

on https://github.com/sourcegraph/go-langserver/pull/238

[2018-02-27 10:06] keegancsmith commented on #244
This race is benign and is triggered by our test suite modifying a global.

[2018-02-27 11:32] #244 closed

[2018-03-02 15:37] mrwonko opened #245 "initial go get attempt fails"
My initial attempt to `go get -u github.com/sourcegraph/go-langserver` failed with an

error, which according to golang/go#21057 could be related to use of symlinks. (On second try it worked.) The vendored `github.com/prometheus/procfs` version contains symlinks, which have since been removed. I suggest vendoring a newer version, that should probably fix the issue.

[2018-03-05 08:47] keegancsmith commented on #245
Thanks. I'll take a look.

[2018-03-05 08:50] keegancsmith commented on #245
Should be fixed by https://github.com/sourcegraph/go-langserver/commit/911b6e29dd9f76ddd37a5acaa7fb429f6ade2927

[2018-03-05 08:50] #245 closed

[2018-03-17 08:10] anhnhoktvn opened #247 "Feature request: tag query"
Github has tag name for each repo. It would be nice if we can filter repo by tags.

[2018-03-19 09:50] keegancsmith commented on #247
You may be filing this issue against the wrong repo. Which product exactly are you requesting this feature? If it is for the go-langserver, I don't understand the request, could you provide more information?

[2018-03-30 09:19] swidnikk opened #256 "Go Lang Server not installing properly"
package github.com/sourcegraph/go-langserver
	imports context: unrecognized import path "context"

This is what I get—help!

go get -u github.com/sourcegraph/go-langserver
package github.com/sourcegraph/go-langserver
	imports context: unrecognized import path "context"
failed MSpanList_Insert 0x767588 0x6ed15f804042 0x0
fatal error: MSpanList_Insert

runtime stack:
runtime.MSpanList_Insert(0x6a373

[2018-03-30 10:27] Contextualist commented on #256
You are using a Go distribution that is too old (1.4.2), and it may not have the built-in package `context`. I recommend you to upgrade your Go and try again. Seem like you have installed Go via `homebrew`, so simply `brew update go` will do.

[2018-03-30 17:39] swidnikk commented on #256
Many thanks! Just beginning with this language and hope to cross this hurdle soon.

**$ which go**
/usr/local/bin/go

**$ go version**
go version go1.10.1 darwin/amd64

**$ cat ~/.bashrc | grep GO**
GOROOT=/usr/local/opt/go/libexec/bin
GOPATH=$HOME/code/genblue
GOBIN=$GOPATH/bin
PATH=$PATH:$GOBIN:$GOROOT

**$ brew upgrade go**
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew

[2018-03-30 17:46] keegancsmith commented on #256
Does `go get -u github.com/sourcegraph/go-langserver` still not work, even with go1.10?

[2018-03-30 19:42] swidnikk commented on #256
Thanks @keegancsmith and that's correct, see below. As @Contextualist mentioned it looks like the built in `context ` package is missing. Below is my path and the versions of go currently installed. This appears to be the latest release listed on [golang.org/dl](https://golang.org/dl/).

**$ echo $PATH**
~/.nvm/versions/node/v8.9.4/bin:/usr/local/sbin:/usr/local/bin:/Library/Developer/CommandLineT

[2018-03-30 19:50] keegancsmith commented on #256
Can you just include the output of these three commands:

[code]

[2018-03-30 20:37] swidnikk commented on #256
@keegancsmith here you are

**$ go version**
go version go1.10.1 darwin/amd64

**$ go env**
GOARCH="amd64"
GOBIN="/Users/swid/code/genblue/bin"
GOCACHE="/Users/swid/Library/Caches/go-build"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/swid/code/genblue"
GORACE=""
GOROOT="/usr/local/opt/go/libexec/bin"
GOTMPDIR=""
GOTOOLDIR="/usr/local/opt/go/libexec/bin/pkg/tool/darwi

[2018-03-30 21:32] slimsag commented on #256
@swidnikk You are overwriting the `GOROOT` that is already set for you by homebrew:

[code]

Get rid of the `GOROOT=...` line and it should work fine.

[2018-03-30 21:55] swidnikk commented on #256
@slimsag thank you! That brings me a step closer I believe. I get the following error now, which I am working on next. Apparently I have 4.1, might need an xcode update

**$ go get github.com/sourcegraph/go-langserver**
# runtime/cgo
fork/exec /usr/bin/gcc-4.2: no such file or directory

[2018-03-30 21:59] #256 closed

[2018-03-30 22:05] slimsag commented on #256
Glad to hear that fixed the issue :)

[2018-04-11 06:00] mjshashank opened #257 "Invalid position in Completions"
I'm working on a custom client with this language server.

When I requests for a completion with the files contents as:
```im``` and line as 0 and character as 2, I get ```error: go completion error: Error: invalid position: (character 2 is beyond first line boundary)```

But when I make a request with a blank line or space appended as:
```im\n``` or ```im ``` and the same line, character values o

[2018-04-11 06:13] lloiser commented on #257
This is fixed in #83 with commit https://github.com/sourcegraph/go-langserver/pull/83/commits/8b3e27eddc852566b372c0e77472b1a1d9e11f37#diff-78179d406a671306d86895d9604fca17

[2018-04-21 23:54] seebs opened #259 "test case "go install -v all" failures hard to diagnose"
[code]

This is sort of opaque.

[2018-04-22 00:32] slimsag commented on #259
Fixed via https://github.com/sourcegraph/go-langserver/pull/260

[2018-04-22 00:32] #259 closed

[2018-04-22 05:24] kdarkhan opened #261 "`failed to find doc object for` should not be returned"
Due to [this line](https://github.com/sourcegraph/go-langserver/blob/b398c472184b78ac6e8e6997addd08f72a8ce2cc/langserver/hover.go#L336) langserver returns an error `failed to find doc object for ...` whenever no documentation is found for a token and it happens often. I am using [emacs-lsp](https://github.com/emacs-lsp/lsp-mode) and it renders such errors in `Messages` buffer and at the status bar

[2018-04-23 20:12] keegancsmith commented on #261
yup, the LSP spec in fact indicates as much. thanks for the report, will fix.

[2018-04-23 21:08] keegancsmith commented on #261
@kdarkhan it doesn't happen whenever there is no documentation, only when our ast inspector fails to find the relevant node. Do you have a reproduction on some OSS go code, so I can try reproduce?

[2018-04-24 04:40] kdarkhan commented on #261
Here is an example using https://github.com/cortesi/devd/blob/master/server.go#L283
The errors are shown at the bottom status bar, and whenever hover succeeds, it is shown at the top.
![output](https://user-images.githubusercontent.com/1087493/39166451-976bbd58-47ab-11e8-85e9-e6d767dc6517.gif)

[2018-04-24 18:34] #261 closed

[2018-04-24 18:35] slimsag commented on #261
@kdarkhan I've just merged @keegancsmith's PR https://github.com/sourcegraph/go-langserver/pull/263#pullrequestreview-114912922 so please give this another try and let us know if it works now :)

You can get the latest binary by running the same `go get` command in the REAMDE:

[code]

[2018-04-24 19:37] kdarkhan commented on #261
@slimsag @keegancsmith this works, thanks!

[2018-04-24 21:24] seebs opened #265 "go1.10 parser "parseTypeSpec" should match 1.9"
The fork of godef in langserver/internals has code to change the behavior of parseTypeSpec in go 1.9. However, 1.10 is now out, and the build tags have changed, and go1.10 would pick up the 1.8 definition.

[2018-04-28 17:40] heltonmarx opened #267 "value of scope is never used"
The [staticcheck](https://staticcheck.io/) reports :
` this value of scope is never used ` for `scope` variable [here](https://github.com/sourcegraph/go-langserver/blob/master/langserver/internal/gocode/decl.go#L891).

Seems like this `scope` could be ignored:
[code]
Or substitute `s` on return on line [893](https://github.com/sourcegraph/go-langserver/blob/master/langserver/internal/gocode/decl.g

[2018-04-30 07:59] keegancsmith commented on #267
Thanks. Yeah this is just a vendored in copy of gocode modified to be used as a lib. Upstream may appreciate the report. I'd also happily accept a PR.

[2018-04-30 07:59] #267 closed

[2018-05-01 21:29] OneOfOne opened #268 "completion doesn't work with go master"
https://github.com/nsf/gocode/issues/510

Maybe switch to https://github.com/mdempsky/gocode? the speed difference is minimal but it won't break every other Go release.

[2018-05-02 20:29] nicksnyder opened #269 "Hover tooltips for end of line comments"
It is not uncommon for Go fields to be documented like this (including in the standard library):
[code]

Unfortunately hover tooltips are only provided if comments are structured like this:
[code]

[2018-05-02 20:43] sqs commented on #179
Fixed by #252 (although they are shown separately from references)

[2018-05-02 20:43] #179 closed

[2018-05-03 08:34] keegancsmith commented on #268
Thanks for the link. I see the gocode README now suggests the switch, so this makes sense to me.

[2018-05-05 07:28] Contextualist commented on #268
Currently [mdempsky/gocode](https://github.com/mdempsky/gocode) comes with two modes:
1. Parsing source file without cache
2. Parsing binary (.a files) with cache

I tried integrating it in go-langserver and quickly tested each mode. There is no perceivable difference on speed for the binary mode, but the source mode is unbearably slow (takes few seconds on my MacBook Air).

Since the Go team is w

[2018-05-06 16:23] weijiangan opened #270 "Ignore Emacs autosave files"
Emacs creates files that precede with `.#` when there's autosave data and the `go-langserver` seems to try read these files (and fail when they're gone). I'm not sure if it causes any problems or crashes, because it appears to still work, but I imagine it is something that should be considered.

This is the error I get:
[code]

[2018-05-07 07:28] JeanMertz opened #271 "How to autocomplete unimported packages?"
I'd like something like `strconv.` to give me auto completion, but that only works when the `strconv` package is already imported.

Any way to make go-langserver work with unimported packages?

I found some references here:

https://github.com/sourcegraph/go-langserver/blob/6d17b634f244650517ca2ec9a82068d02a581b09/langserver/internal/gocode/config.go#L14-L31

But I couldn't find any other referenc

[2018-05-07 07:30] JeanMertz commented on #271
Ah, in fact, I already _have_ this configuration file, but it doesn't seem to be working?

[code]

I'm using go-langserver together with https://github.com/tomv564/LSP, but as far as I know, the client doesn't need to do anything special to support this, does it?

[2018-05-07 07:34] JeanMertz commented on #271
I just tried this in my terminal, and gocode is definitely returning values as expected:

[code]

[code]

[2018-05-07 07:37] JeanMertz commented on #271
When enabling debug logging in the client, I see the following response returned by the server:

[code]

[2018-05-07 09:03] JeanMertz commented on #271
After digging some more, I guess the reason is that the code that I found regarding `gocode` is vendored code, and it looks like `go-langserver` doesn't use the file-based gocode configuration.

Looking at the `InitDaemon` code, it seems there are some hard-coded preferences, that can't be changed:

https://github.com/sourcegraph/go-langserver/blob/6d17b634f244650517ca2ec9a82068d02a581b09/langserv

[2018-05-07 13:17] JeanMertz opened #272 "Add goimports functionality to the DocumentFormatting"
Not sure if this is something you'd consider, but it would be nice if it was possible to auto add missing imports.

I use this diff locally, which seems to do the trick, but I haven't tested this thoroughly yet:

[code]

[2018-05-07 23:09] stouf opened #273 "Reference "gogetdoc" as a dependency in the docs?"
After installing this language server implementation, I tried to use the hover feature and got an error telling me the command `gogetdoc` could not be found. I could not find any note about an option that would let me specify what command the hover function should use. I decided to install [gogetdoc](https://github.com/zmb3/gogetdoc) and the hover function started to work after that.

My questions

[2018-05-08 04:17] yujiahaol68 opened #274 "ERROR: Initialize rootPath URI is deprecated. Use rootUri instead"
go version: go1.10.2 darwin/amd64

After I upgrade go and vscode-go tools, every time I edit project files it log:

[code]

[2018-05-08 04:58] elgatito opened #275 "High CPU usage"
Hello.

I was using go-langserver for a long time with Atom IDE. It was working fine.
Then one time I've upgraded to Go 1.10 (and now 1.10.1) and latest Atom/go-langserver and started to get system overloads, caused by go-langserver.

go-langserver: latest
OS: Ubuntu 16.04
Go:
[code]
Example when issue is starting:
`15254 elgatito  20   0 2734880 2,145g   3868 S 151,9 37,5   3:07.01 /home/elgatito

[2018-05-08 06:09] elgatito commented on #275
Github misses OnHold state.

I've just updated to Go 1.10.2 and rebuilding all the packages I have in $GOPATH.
I have seen go-langserver from that time in process list, consuming CPU, but not 100% and without memory usage, will keep testing.

[2018-05-08 06:46] elgatito commented on #275
My happiness was too early.
Now again getting CPU issues.
I have completed `$ go get -u -x ./..` in my project directory, to recompile for newer Go, and after that - i'm getting CPU issues.

How can I help to investigate it?

[2018-05-08 08:46] keegancsmith commented on #268
Yeah that makes sense to me. A PR for what you have done sounds GTM. It may make sense to use a fork of `mdempsky/gocode` which we pull in via `dep`. That way it will be easy to track upstream, vs what the copy + modified versions in this repo.

[2018-05-08 09:44] keegancsmith commented on #271
cc @Contextualist Any reason why we shouldn't enable unimportedpackages?

[2018-05-08 09:45] keegancsmith commented on #272
I'm happy with changing our default to using goimports. If someone prefers plain old go fmt then we can provide an option later. Can you send a PR?

[2018-05-08 09:46] keegancsmith commented on #273
we don't shell out to gogetdoc (nor do we have any references to it in our repo), which means this is likely an issue in the client you are using (ie the extension to your editor) rather than go-langserver.

[2018-05-08 09:46] #273 closed

[2018-05-08 09:48] lloiser commented on #272
#83 is probably also needed to get this working, right?

[2018-05-08 09:50] keegancsmith commented on #274
Duplicate of https://github.com/Microsoft/vscode-go/issues/1662

[2018-05-08 09:50] #274 closed

[2018-05-08 09:52] JeanMertz commented on #272
Interesting @lloiser. I guess that answers the issue I posted here:

https://github.com/tomv564/LSP/issues/319

So yes, the above "works", but as explained in the above issue, it's not very user friendly (but the current `gofmt` isn't either, since it suffers from the same problem).

[2018-05-08 09:52] keegancsmith commented on #275
If I am not mistaken this will be solved by https://github.com/sourcegraph/go-langserver/issues/268 So will mark as duplicate

Duplicate of https://github.com/sourcegraph/go-langserver/issues/268

[2018-05-08 09:52] #275 closed

[2018-05-08 10:01] JeanMertz commented on #271
I just noticed that this breaks if you trigger autocomplete on a package that doesn't exist.

Using this file:

[code]

If I write `fmt.` in the `main` function, things work as expected, but if I instead write `fm.`, then it crashes.

Here's the log:

https://gist.github.com/JeanMertz/eb2db980229d5caef496c9cdbd7a69b5

And here's the offending request/response:

[code]

[2018-05-08 10:03] JeanMertz commented on #271
Seems to originate from here:

https://github.com/sourcegraph/go-langserver/blob/7f84cdc942f706cf3e36bdbd5c5bf6e1f8cb044b/langserver/internal/gocode/decl.go#L35-L36

[2018-05-08 10:07] keegancsmith commented on #271
FYI We do plan on switching our vendored in gocode to a new upstream implementation. So that sort of issues may disappear / belong in the upstream repo. See the discussion in https://github.com/sourcegraph/go-langserver/issues/268

[2018-05-08 10:50] JeanMertz commented on #271
In the end, I copy/pasted the latest master source of `gocode` into `go-langserver` (and removed some unrelated changes/code), it now works as expected.

Full diff here:

https://gist.github.com/JeanMertz/aeb524db3b6eabfa46d9298ac228f1a5

I suspect this is the relevant change that fixed the above bug:

[code]

[2018-05-08 12:08] Contextualist commented on #271
@JeanMertz 👍 Wow, such a trek of digging! You're right. Sorry that I didn't include the config capability of gocode for simplicity sake. Also, nice finding on the behavior of nonexistent package. However, I am a little bit hesitated on whether to enable the option. See my second concern below.

@keegancsmith For why I drop that option is largely opinionated. I was planning to bring that option in

[2018-05-08 12:27] Contextualist commented on #268
I don't have time to work on the PR until next Tue. So for anyone interested please help implementing that.

After a while I found out that I was not using cache at all when testing, but the performance for parsing binary file without cache seems adequate. `mdempsky/gocode` has its cache coupling with its main package, and the author suggested me to utilize the unified cache in go-langserver. That

[2018-05-08 22:36] stouf commented on #273
Thanks for the answer.
I currently have the following installed:

- [This language server implementation](https://github.com/sourcegraph/go-langserver/)
- [This language-server client](https://github.com/autozimu/LanguageClient-neovim)
- The [vim-go](https://github.com/fatih/vim-go) plugin [recommended by Golang](https://golang.org/doc/editors.html?h=vim) for Vim

`vim-go` and the language-server

[2018-05-10 23:25] OneOfOne opened #276 "doesn't compile with current go master"
[code]

[2018-05-11 04:12] ramya-rao-a opened #277 "didChange event handling fails with out of range error after which every format request fails"
The below was observed when using the language server via the Go extension to VS Code.

Below is a simple program of 12 lines. All I did was add tabs before the print statement followed by file save a couple of times. Soon there is an error when handling the `textDocument/didChange` event. After this every file save that triggers formatting ends up generating the below formatting error.

<img widt

[2018-05-11 07:55] keegancsmith commented on #276
Seems there is a new field `Incomplete`. https://sourcegraph.sgdev.org/github.com/golang/go@master/-/blob/src/go/ast/ast.go#L266:2 vs https://sourcegraph.sgdev.org/github.com/golang/go@go1.10/-/blob/src/go/ast/ast.go#L266:2

[2018-05-11 07:59] #78 closed

[2018-05-11 16:58] dadlerj opened #278 "Error finding references on Go package names"
Reproducable on sourcegraph.com: https://sourcegraph.com/github.com/kubernetes/apiserver/-/blob/pkg/server/serve.go#L17:9$references
![image](https://user-images.githubusercontent.com/5589410/39936519-90a91af2-5501-11e8-9339-2c35fe01f067.png)

Similar behavior occurs with external references, but the failure occurs on the xdef request, before it even gets to the xref request.

The API response (fr

[2018-05-11 17:09] keegancsmith commented on #278
So the reason this doesn't work is that clicking on a package doesn't resolve to a specific location (so j2d doesn't work either). I don't think our implementation of references could necessarily work with it, but some special casing for package identifiers may make sense.

I'm unsure what you would want though? Imports? Our references code already uses a reverse import graph which would mean it w

[2018-05-11 17:46] OneOfOne commented on #276
What I did locally to get it to compile is simply using named fields, should be future-proof:

[code]

[2018-05-11 18:08] #276 closed

[2018-05-11 18:55] keegancsmith commented on #278
ok, then I would assume our implementation does work since it is a fork of go guru which vscode-go uses. Maybe go guru doesn't do an initial definition, while we do for some reason.

[2018-05-14 23:16] sqs commented on #278
I got halfway into investigating this, will continue soon (probably next week).

I encountered another issue that also blocks this: https://github.com/sourcegraph/sourcegraph/issues/11189.

[2018-05-15 22:22] ramya-rao-a opened #280 "Use InitializationOptions instead of flags to drive capabilities"
At present there are 2 flags to the `go-langserver` that control features of the language server
- gocodecompletion
- func-snippet-enabled

One can easily imagine other configuration options we would want to have down the line that controls other features. One such is already being discussed in https://github.com/sourcegraph/go-langserver/issues/272#issuecomment-387347100 which is about the  tool

[2018-05-16 04:14] ramya-rao-a commented on #280
My another concern with flags is that when new flags get added, there is no clean way for the client to know if the user has the version of the language server that supports the said flag. The only way to do this would be to parse the output of `go-langserver -h` and look for all the supported flags

[2018-05-16 05:35] ramya-rao-a opened #281 "Formatter should return a single edit"
At present, when there is a formatting request 2 edits are returned. 1 to clear all text in the file, another to add back the formatted content. These can be merged into a single edit. This will fix the issue of the cursor moving to the end of the file/range in VS Code

[2018-05-16 06:35] lloiser commented on #281
I think this is fixed with #83.

[2018-05-17 09:00] keegancsmith commented on #281
It would be fixed by #83, but it needs to be picked back up. I was having issues with how it behaved at end of file last time I tested it which I couldn't resolve. It would be good if someone tried out that PR in vscode-go and see how it behaved.

@ramya-rao-a Doing a single range is probably part of what I was having trouble with in #83. If I want to do the whole file the LSP spec implies I find

[2018-05-17 14:03] keegancsmith commented on #277
yeah I think there are some issues around how we interpret ranges in go-langserver. I'll take a look soon.

By put it behind a feature flag, do you mean advertising full sync vs incremental sync?

[2018-05-17 16:34] ramya-rao-a commented on #277
Never mind the feature flag, I figured out a way to intercept the calls going to the language server from the Go extension. So what I have done is disabled the formatting feature from the language server. User can opt-in to use the formatting feature from the language server explicitly in VS Code now.

Well, by "now" I mean the next update

[2018-05-17 16:43] ramya-rao-a commented on #281
@dbaeumer should be able to confirm that

[2018-05-18 13:13] dbaeumer commented on #281
@keegancsmith since the last line has no line ending character (it is the last line) `lastLine + 1` points to an invalid line. I agree that VS Code could handle the case more gracefully in a replace edit that otherwise spawns the whole file.

[2018-05-18 14:04] keegancsmith commented on #281
@dbaeumer so the whole document range is

[code]
?

[2018-05-22 08:37] #280 closed

[2018-05-22 10:08] dbaeumer commented on #281
Yes, that sound correct to me.

[2018-05-24 17:13] ethanrubio commented on #261
@kdarkhan sorry to hijack this, but would you mind sharing your emacs config to a fellow emacs user? I'm trying to get lsp-go to work with little success and your emacs config looks great!

[2018-05-25 19:14] kdarkhan commented on #261
@ethanrubio sure, [here](https://gist.github.com/kdarkhan/d8f337a3639c0abfeefa327ac94e2686) is my current setup.
I am using Spacemacs. The config above is not very clean but is working for go code. You will have to install the go tools manually.

[2018-05-27 05:57] jussij opened #283 "Signature Help returns "cannot import absolute path""
I have a question about the _textDocument/signatureHelp_ method.

This test is running on Windows 10 and for the test I have a simple test.go file:

[code]
On the machine the GOPATH environment variable is set to this:

[code]

I send the server the following message:

[code]

This results in the following error response:

[code]

By comparison sending this _textDocument/completion_ request:

[cod

[2018-05-28 07:08] ul opened #284 "Hover response doesn't always comply to spec"
### Steps to reproduce

* go get -u github.com/sourcegraph/go-langserver
* git clone https://github.com/sourcegraph/go-langserver.git
* send to server:

[code]

* wait for response
* send to server (actual `text` field content is omitted for brevity)

[code]

* send to server

[code]

(it's word `recover` on the line 156 of [handler.go](https://github.com/sourcegraph/go-langserver/blob/master/lang

[2018-05-29 07:36] elgatito commented on #275
Have moved to a new device, new Ubuntu 18.04, clean system, clean Golang installation (still snap's one), 1.10.2. Same project and having CPU hangs again...
Maybe it's related to my project of something?

[2018-05-29 10:27] keegancsmith commented on #283
we wrap gocode for completion, but signature helper we wrote ourselves which relies on the `go/*` packages. It looks like when we try and import the package that fails? It is hard for me to debug further since I do not have a windows machine.

Do you mind sharing your `test.go` and any other go files in `D:/Go/src/github.com/jussij/Test`.

[2018-05-29 10:31] keegancsmith commented on #284
I thought I fixed this recently, but must of been another language server since I can't find the commit. Will fix now.

[2018-05-29 11:09] #284 closed

[2018-05-29 13:40] thomasf commented on #270
Maybe so but tools should avoid writing temporary files outside of it's own data directories if possible. It's just an age old thing in emacs,, If the auto save backups were invented today they would would maybe not default to the same directory as the original file..
Having said that, (IIRC) the go tool ignores already ignores dotfiles so go-langserver should do it as well.

[2018-05-29 13:44] thomasf commented on #270
But I suggest that you look into the `backup-directory-alist` , `auto-save-file-name-transforms` and `auto-save-list-file-prefix` to stop emacs from storing stuff in the working directory.. I moved those things over to their own tree ages ago and problems like this stopped popping up.

[2018-05-29 23:08] ul commented on #284
🎉 Thank you!

[2018-05-30 12:48] jussij commented on #283
Please close this issue and put it down to a user error at my end :(
After some more investigation I found that while the GOPATH looked correct, it was not correct for the test file being used.
After fixing that GOPATH issue the signature features worked perfectly :)
Thanks and sorry for the false alarm.

[2018-05-30 12:50] #283 closed

[2018-06-01 20:16] ramya-rao-a opened #286 "go-langserver: `invalid root path "file://": must be file:/// URI`"
_From @Dominik-K on February 9, 2018 12:31_

In a new VSCode (`1.21.0-insider`, d28f0960) window, I opened a simple Go file `/tmp/vscode-test.go` and get the following error message popup:

<img width="896" alt="screen shot 2018-02-09 at 13 24 19" src="https://user-images.githubusercontent.com/5795847/36027700-a0078850-0d9c-11e8-9e88-e4408d686d2b.png">

(BTW: Would be good that the "output" channe

[2018-06-01 20:16] ramya-rao-a commented on #286
I can see this happening when opening a stand alone go file, but not when opening a folder.
@slimsag @keegancsmith Looks like the language server fails when there is no folder open

[2018-06-01 20:16] ramya-rao-a commented on #286
_From @keegancsmith on February 16, 2018 15:46_

Yeah right now go-langserver doesn't support not having a rootPath or rootURI. I'll see how easy it is to add, but we have in quite a lot of places baked in the assumption of a rootPath.

[2018-06-01 20:16] ramya-rao-a commented on #286
_From @keegancsmith on February 27, 2018 14:57_

I'm unsure how well this would work, but we could just pretend that `rootPath = "/"`. For operations that inspect the `workspace` (like references), this would end up being very very costly. So it doesn't seem like the correct solution.

@ramya-rao-a what functionality is expected to work when there is no workspace? If we can rule out `references` a

[2018-06-01 20:16] ramya-rao-a commented on #286
We could start with just current directory and log the fact that we are doing so since going beyond is expensive.

[2018-06-14 07:19] jussij opened #289 "Unexpected panic: illegal file offset"
I have come across what looks like an issue with the signature help request.

If it matters this test was done on Windows.

This is the test file that I have on disk:

    package main

    import (
        "fmt"
    )

    func main() {
        fmt.Printf("Test")
    }

Now consider that file being edited in memory (i.e. unsaved changes) as follows:

    ...

    func main() {
        fmt.Printf(

[2018-06-25 10:55] #269 closed

[2018-06-27 18:25] kehu1991 opened #291 "Find references do not work because $GOPATH/src is a symbolic link"
Hi,

I have a question about getting find references work with `$GOPATH/src` being a symbolic link.

The symbolic link was introduced so I don't need to change existing root project directory (which contains other language projects not just go). However, because of this, find references do not work with these two problems:

1. `rootUri` in init request is the resolved file uri. Because it doesn't

[2018-06-28 07:17] keegancsmith commented on #291
Supporting this properly seems error prone. It seems like if your `rootUri` was inside of `$GOPATH/src` then this wouldn't be an issue. Could you not open up your editor at the `$GOPATH` path, instead of the symlinked destination.

[2018-06-28 07:22] slimsag commented on #291
@keegancsmith I imagine this is a bigger issue once you consider that a monorepo is a GOPATH, so this means the langserver doesn't work very well in an editor environment when pointing it at a symlinked monorepo dir. I would say that is worth fixing / supporting generally if someone wants to open a PR for it with tests

[2018-06-28 07:34] keegancsmith commented on #291
Do we have code somewhere that resolves symbolic links? Assuming your `rootURI` is in the `GOPATH` I don't see why this wouldn't work, even in the case you mention @slimsag.

[2018-06-28 18:06] kehu1991 commented on #291
Hi @keegancsmith, thank you for the quick reply! In case it caused confusion, let me clarify that `$GOPATH/src` is the symlink, which points to the actual project folder. To give a concrete example, here is some pseudo command output:
`[vm] echo $GOPATH`
`/users/<user>/gopaths/gocode:/users/<user>/gopaths/godeps`
`[vm] ls -sl /users/<user>/gopaths/gocode`
`src -> /home/workspace`
`bin ->/home/go-t

[2018-07-09 14:39] jenenliu opened #292 "jsonrpc2 handle error"
Hi, I use emacs, and configure company-lsp and lsp-go for go mode, and I've found there is these errors keep annoying me.
[code]

Mac High Sierra
Emacs 26

thanks

[2018-07-09 19:30] keegancsmith commented on #292
What text encoding is your file? This may be related to https://github.com/sourcegraph/go-langserver/issues/257 and https://github.com/sourcegraph/go-langserver/issues/277

[2018-07-10 09:33] butterflyfish commented on #257
i'm looking forward to address this problem also. thank you!

[2018-07-13 18:50] pwaller opened #293 "Support for versioned go"
[Versioned go has recently landed in tip](https://groups.google.com/d/topic/golang-dev/a5PqQuBljF4/discussion). It would be awesome if go-langserver supported it :)

By the way, there is an effort going on over in [`golang.org/x/tools/go/packages`](https://godoc.org/golang.org/x/tools/go/packages) to aid in supporting this, too.

[2018-07-16 13:09] keegancsmith commented on #293
Hopefully we can get away with just the libraries we rely on being updated. Although, if I am not mistaken we have some code which makes assumptions about how code is laid out w.r.t. GOPATH. That will certainly need updating.

Thanks for the link to `go/packages`. I was following along when it was a CL, and it looks very appropriate to use in go-langserver.

[2018-07-17 13:56] #199 closed

[2018-07-17 15:04] josh-tepper commented on #199
Nice!  Will re-enable the sourcegraph language server and give it a try :-) @keegancsmith

[2018-07-17 21:47] Utsav2 opened #294 "Release prebuilt binaries"
We'd really like to deploy go-langserver for an internal code search tool, but right now, we'd have to check in all the code for go-langserver and its dependencies and build it before we can use it. If possible, we'd really like to have prebuilt binaries so that we can directly use them.

It would be of great help if you could cut a new release, and include the built binary as part of it. That way

[2018-07-18 22:18] tylerFowler commented on #294
This would also help out with my [Atom IDE](https://github.com/tylerFowler/ide-go-langserver) package, simply using `go get` is suboptimal as I can't easily check out a specific tag and build from that. Having a stable URL for different builds of each version would help insulate users from getting incompatible versions.

[2018-07-18 22:56] nicksnyder commented on #294
I just setup goreleaser for another repo and it works great

example:
https://github.com/sourcegraph/yj/commit/21a756b4e74f0c1fabb7910b4eae04609fc86d1b
https://github.com/sourcegraph/yj/releases/tag/v1.0.0

[2018-07-19 11:18] keegancsmith commented on #294
[goreleaser](https://github.com/goreleaser/goreleaser) looks cool and easy to setup. Lets do it, happy to accept a PR that integrates it.

[2018-07-20 08:45] slimsag commented on #294
+1 for goreleaser, looks neat! Of course it's also very easy to roll our own as I did in src-cli: https://github.com/sourcegraph/src-cli/blob/master/.travis.yml I think it should be easy to copy the same travis yaml here and generate a new travis API key.

[2018-07-20 12:56] nicksnyder commented on #294
A CI solution would be ideal for this project, but I didn’t bother with that in my example because those are small tools.

[2018-07-22 01:50] maximbaz commented on #272
I think having goimports functionality is very useful. Since #83 is merged and you have the working patch, @JeanMertz would you please create the PR?

[2018-07-22 01:58] maximbaz opened #296 "Formatting is broken on this example"
[code]

With `goimports -e -w` I get the expected result:

[code]

With the current master of go-langserver I get this result:

[code]

[2018-07-22 16:59] otto-md commented on #272
It would be very nice if it was possible to also configure the [LocalPrefix](https://github.com/golang/tools/blob/059bec968c61383b574810040ba9410712de36c5/imports/fix.go#L35-L38) if this is implemented.

[2018-07-22 22:04] dianedanlai commented on #296
I tried your example with the latest master and I cannot reproduce it(I am using Nuclide).

[2018-07-22 22:06] maximbaz commented on #296
Thanks, I'm using kak-lsp and it could be a bug there, I'm just not sure how to verify this. Ping @ul :)

[2018-07-23 06:43] kaizer666 opened #297 "Error while go get"
I get this error when I run

➜  go get -v github.com/sourcegraph/go-langserver
github.com/sourcegraph/go-langserver/vendor/github.com/opentracing/opentracing-go
# github.com/sourcegraph/go-langserver/vendor/github.com/opentracing/opentracing-go
../github.com/sourcegraph/go-langserver/vendor/github.com/opentracing/opentracing-go/globaltracer.go:13:29: undefined: Tracer
../github.com/sourcegraph/go-

[2018-07-23 12:39] ul commented on #296
This is indeed a kak-lsp bug. Looks like Kakoune doesn't support zero-width ranges, thus we need to treat them specially in kak-lsp.

[2018-07-23 12:41] maximbaz commented on #296
OK thanks for confirming, let's continue in kak-lsp issue 😉

[2018-07-23 12:41] #296 closed

[2018-07-23 13:20] keegancsmith commented on #297
I can't reproduce this, same version of go but on linux. I cleaned out my `go/src` and it compiles with what is just in vendor. I'm not sure if this variable still does anything, but maybe you have `GO15VENDOREXPERIMENT` set?

Maybe try the command with a `-u` to update?

[code]

[2018-07-25 08:44] #272 closed

[2018-07-25 13:57] keegancsmith commented on #113
In theory it is working, we are running a windows based CI and the tests pass. Can you try the language server out on windows and tell me if it works? I don't have access to a windows machine.

[2018-07-28 12:02] marwan-at-work opened #299 "GoToDef Only Works When Reloading A Window (VSCode)"
I'm not sure how the integration works between VSCode and go-langserver, but every time I introduce a new import to a file, I am unable to GoToDef unless I reload the window.

Here's the VSCode issue that led me here https://github.com/Microsoft/vscode-go/issues/1802

Thanks :)

[2018-07-28 17:31] marwan-at-work commented on #293
Will this commit help go-langserver to GoToDef without having to change anything? https://github.com/golang/go/commit/f85125345cc5d3eb054c90bfca4bda3544d7fcab

[2018-07-30 12:24] keegancsmith commented on #293
To be honest I am not sure. For our "slower" gotodef it probably does help. For our faster "godef" version I think it is less likely to help.

[2018-08-01 19:06] dianedanlai opened #300 "Get error of "Header must provide a Content-Length property" and then go language server shut down."
I am working on the integration of a editor and go language server. In rare cases, I can see error "Header must provide a Content-Length property" and then go language server shut down.

I saw in the output of go language server, its response is malformed like below, which causes the client side cannot parse the response correctly.

![screen shot 2018-08-01 at 10 11 45 am](https://user-images.gith

[2018-08-03 10:38] keegancsmith commented on #300
Nice catch with both the upstream issue in gocode and it printing to stderr. We actually need to switch to https://github.com/mdempsky/gocode anyways. We probably need to work out a way to more cleanly integrate gocode as it is. Right now it is manually vendored in and modified, and as such it makes it harder to integrate upstream changes.

[2018-08-06 08:15] butterflyfish commented on #257
this issue still exists on neovim with plugin [ncm2](https://github.com/ncm2/ncm2) and [LanguageClient-neovim](https://github.com/autozimu/LanguageClient-neovim)

[2018-08-06 20:16] marwan-at-work commented on #293
@keegancsmith can you possibly show me where in the code I can make the quickest implementation of vgo support? Would love to get this working with vscode

[2018-08-07 10:50] keegancsmith commented on #293
@marwan-at-work Master now has all dependencies updated, including recent changes to `golang.org/x/tools`. That _might_ just get it to work. However, we still have code which inspects stuff based on GOPATH, which is optional to use in go1.11 I believe. https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/sourcegraph/go-langserver%24+file:%5Elangserver/+gopath

We have quite a comprehensive test

[2018-08-07 21:25] dianedanlai commented on #300
Thanks for the reply. I think the gocode write error directly into stdout instead of stderr, it uses fmt.Printf to write errors and the response write to stdout also.

[2018-08-08 05:52] jaggerwang opened #304 "How to disable the annoying "exported type Account should have comment or be unexported"?"
This is really annoying as sometimes the exported type or method is only used inside the project and there is nothing need to comment out.

![image](https://user-images.githubusercontent.com/1255011/43818648-29726526-9b12-11e8-8b85-e2c66873318b.png)

[2018-08-08 06:14] lloiser commented on #304
golang tries to enforce a certain code style. This is just one part of it.
https://github.com/golang/go/wiki/CodeReviewComments#doc-comments

Either add documentation to the exported types or methods or just don't export them if they are only used in the current package alone.

[2018-08-08 08:00] jaggerwang commented on #304
OK, got it!

[2018-08-08 08:00] #304 closed

[2018-08-08 13:33] keegancsmith commented on #304
Also I don't believe go-langserver reports those issues. That would be vscode-go integration with go-lint.

[2018-08-11 17:55] anjmao commented on #268
@Contextualist Hi,
I could help you to work on integrating mdempsky/gocode. My plans was to copy only needed mdempsky/gocode into go-langserver and use global go-langserver cache for better performance.

[2018-08-13 13:28] keegancsmith commented on #268
I think we should switch to using a fork (or trying to get it being a library upstream), so that we can more easily integrate updates to upstream gocode in the future.

[2018-08-15 21:08] emidoots opened #307 "implementations: "this function is not a method" error could just simply be "no results""
If you find implementations on a function rather than a method, you get an error:

e.g. https://sourcegraph.com/github.com/sourcegraph/go-langserver/-/blob/langserver/implementation.go#L65:6&tab=impl

Of course, finding implementations on a function doesn't make sense. It only works on interface types and methods (finding the interfaces that implement that method).

We could make this error less c

[2018-08-17 07:58] illenial commented on #286
When this is going to be fixed?

[2018-08-17 08:46] keegancsmith commented on #286
It would probably be addressed as part of the work to use the new `go/packages`. See https://github.com/sourcegraph/go-langserver/issues/293

We welcome contributions.

[2018-08-17 10:37] illenial commented on #286
@keegancsmith I have noticed that `IsURI` has some defect [here](https://sourcegraph.com/github.com/sourcegraph/go-langserver/-/blob/langserver/util/util.go#L72). According to [RFC 8089 §2](https://tools.ietf.org/html/rfc8089#section-2), `/`, `//` and `///` abide by as a file hierarchy part.

[2018-08-17 11:03] keegancsmith commented on #286
Great, can ya send up a PR?

[2018-08-17 13:12] #286 closed

[2018-08-17 15:06] illenial commented on #307
IMHO, present error is better as it is a no-go for a function or *method* to be implemented. I also wonder how it would work on methods. Sounds illogical to me.

[2018-08-17 15:43] nicksnyder commented on #307
The language server client (e.g. editors) shouldn't need to know a priori if a given location in a file is a valid location to call "find implementations". No results instead of an error makes sense to me.

[2018-08-17 20:32] maximbaz opened #309 "Start tagging releases"
Hello, I'd like to create a `go-langserver` package for Arch Linux, but such package needs to follow official releases.

I've noticed that `go-langserver -version` is a thing and there even are instructions in the source code:

https://github.com/sourcegraph/go-langserver/blob/7df19dc017efdd578d75c81016e0b512f3914cc1/main.go#L39-L44

I would highly recommend following [semantic versioning](https:/

[2018-08-21 21:15] fntlnz commented on #257
I have the exact same problem if I start `go-langserver` without arguments but I was able to have it working with the following arguments:

[code]

[2018-08-22 01:29] ramya-rao-a commented on #113
@keegancsmith This is great news. I gave this a try today and found the below:

- Hover, Go to definition, Format, Auto-completion works
- References and Signature Help both fail with "import "/c:/GoCode/src/github.com/golang/example/hello": cannot import absolute path"
- Workspace symbol search returns empty results, no error

[2018-08-23 14:20] ehames opened #310 "High memory usage"
I'm using Atom to and its go-langserver integration. Memory usage is close to 18Gb now as I type this. I cannot capture the memory/CPU profiles because the port is not open.

[code]

<img width="816" alt="screen shot 2018-08-23 at 11 12 00 am" src="https://user-images.githubusercontent.com/5152/44530957-0278b280-a6c6-11e8-9bb8-7e320d92e184.png">
<img width="589" alt="screen shot 2018-08-23 at 11 0

[2018-08-23 16:37] joshua commented on #310
I'm experiencing the same issue but also with very high CPU usage as well. This issue is a lot more noticeable with diagnostics enabled.

[2018-08-23 19:42] ramya-rao-a opened #311 "No symbols for file when methods are on a type defined in another file"
In a package have 2 Go files

The first file:
[code]

The second file:
[code]
The symbol provider doesnt provide any symbols for the second file.

[2018-08-24 14:39] drgrib opened #312 "Option to Disable Hover"
The plug-in doesn't seem to respect global hover settings. I don't need hover and it is really invasive to my coding process, especially when it pops up for the 10th time I fill in `fmt.Println` to explain to me how the function works. And then continues to follow my cursor and take up a substantial amount of screen real estate as I try to focus on and remember what I was trying to type into the `

[2018-08-24 22:56] keegancsmith commented on #310
aah, yes this is very likely related to having diagnostics enabled. When you enable diagnostics it enables the typechecker, which can be a _huge_ memory hog. Unfortunately there is no quick fix here, other than disabling diagnostics.

[2018-08-24 22:57] keegancsmith commented on #312
the issue is with your client, not go-langserver. IE your client is sending hover requests, but it sounds like you don't want it to.

[2018-08-24 23:02] drgrib commented on #312
@keegancsmith Okay. I'm using VS Code. But I have a feeling they would send me back to `go-langserver` for requests.

[2018-08-24 23:04] slimsag commented on #312
Yeah, this is a problem with the client. The language server cannot do anything to reject such requests or access your hover settings, I think. I don't think they will defer you back here for this issue. @ramya-rao-a what do you think?

[2018-08-25 19:17] ramya-rao-a commented on #312
@drgrib Add `"editor.parameterHints.enabled": false` to your settings.

For future reference, the presence and behavior of the UI element is the responsibility of the editor. The content in these elements is the responsibility of the editor extension. In the case of Go in VS Code, some of these are taken up by the language server

[2018-08-25 19:41] drgrib commented on #312
@ramya-rao-a I'm afraid that does nothing for me. Where should I post about this problem? https://github.com/Microsoft/vscode-go?

[2018-08-25 20:41] ramya-rao-a commented on #312
Yes, log an issue at https://github.com/Microsoft/vscode-go. Also include screenshots of what exactly you want to disable. We have different widgets that show up when typing: suggest widget, hover widget, parameter hint/signature help widget

[2018-08-26 11:14] seagle0128 opened #313 "Error in go-langserver: No Content-Length header"
Today, I upgraded `Golang` to 1.11.0 from 1.10.3. And I updated `go-langserver`. Then I got this error while using auto-completion.

[code]
Backtrace:
[code]

I enabled `-trace` flag and get the output of `lsp-go stderr` buffer below.

[code]

[2018-08-26 16:44] ckaznocha opened #314 "Support alternate linters"
Hi!
Some users of my client are looking to use alternate linters for diagnostics, specifically [golangci/golangci-lint](https://github.com/golangci/golangci-lint). Could multiple linters be supported much like multiple formatters are now supported? I'd be happy to send a PR but I may not be able to get to it for a while.

For reference: https://github.com/ckaznocha/ide-go/issues/31

Thanks!

[2018-08-26 17:57] drgrib commented on #312
This actually solved it for me. Found it on StackOverflow:

[code]

Can't tell you how many frustrating, crippling moments of trying to edit Go in VS Code this caused me. Relieved to have it stopped.

[2018-08-26 17:57] #312 closed

[2018-08-27 05:36] ramya-rao-a commented on #312
Interesting, in the Insiders build that setting is `editor.parameterHints.enabled` and that's why I suggested it. But in the stable build, the same is `editor.parameterHints`. I'll look into that separately.

Thanks for getting back as to what finally fixed it.

[2018-08-27 11:08] OneOfOne commented on #268
I hate to be that guy, but bump. anyone?

Go 1.11 is officially out.

[2018-08-27 13:29] keegancsmith commented on #314
Yeah this seems like a very reasonable feature request. One potential issue is the code in your editor is not necessarily the code on disk. So a requirement for integrating a linter would be it supporting linting a file, but us sending the contents of it over stdin/etc.

[2018-08-27 13:31] keegancsmith commented on #310
yeah this is a pretty bad problem for us, since the typechecking is so useful :) I think the future is bright (once we have time to implement it), since the caching stuff in go has a lot more useful information for us, which means we can probably rely on the on-disk caching go has now.

[2018-08-28 06:04] anjmao commented on #268
@OneOfOne Hi, I'm working on https://github.com/sourcegraph/go-langserver/pull/305. I was on vocation for few weeks, but now I'm continue on this.

[2018-08-28 12:52] ehames commented on #310
This seems to be closely related to #209. Both issues are due to the typechecker.

[2018-08-29 02:35] danicat opened #315 "Create a Contribution guide"
I propose the creation of a CONTRIBUTING.md file or something similar to include the guidelines for contributing for this project.

It would be desirable to include a step-by-step setup guide and the contribution workflow (ie.: fork + pull request).

I can work on this if you want. :)

[2018-08-29 02:37] danicat commented on #209
Is anyone exploring this at this moment?

[2018-08-29 03:05] slimsag commented on #315
What did you have in mind? (maybe link to an existing contributing file you like?)

In general, we don't have any special contribution rules or anything -- it's the same as almost every other OSS project:

- PRs welcome.
- If you want to avoid working on a PR that may not initially be accepted (e.g. for complex tasks), file an issue to discuss first.

I'd be hesitant to add a file that just outlin

[2018-08-29 03:11] slimsag commented on #209
In order to fix this issue, we will need to switch over to using the new [golang.org/x/tools/go/packages](https://godoc.org/golang.org/x/tools/go/packages) package. Almost all of the CPU and memory usage from go-langserver comes from type-checking, and using that package would reduce it substantially as it would cache results to disk automatically AFAIK.

Nobody is working on this issue right now

[2018-08-29 03:43] danicat commented on #315
You got the idea. I'm thinking about working on some issues and it would be useful to have some guidelines on where to start (ie.: setting up the environment for development). Now that I'm thinking about it, maybe the CONTRIBUTING.md alone would not be enough. Usually this file has some overall guidelines on how to start and what are the best practicies to follow. But the environment setup maybe w

[2018-08-29 03:44] danicat commented on #315
Of course, we wouldn't need something so big as the Kubernetes Contributors Guide, but having some sections describing best practices and environment setup would be nice.

[2018-08-29 03:54] danicat commented on #209
Looking at the documentation on go/packages it says it's not production ready and has dependencies on Go 1.11. The idea is to wait until it gets stable?

[2018-08-29 04:09] slimsag commented on #209
The warning about it not being ready for widespread use yet seems to be mostly about the fact that the API may change, which is OK for us (we can vendor it anyway).

If we use it before it supports older Go versions, we'd need to use it optionally at build time. e.g. when building with Go 1.11, it would use that package and when using an older version it would use our current go/loader setup.

[2018-08-29 04:14] slimsag commented on #315
Got it, that makes sense. 😃

I very much agree! I think for now we can probably just write this information into the README. If it becomes too large or needs to become more detailed, then it can later be moved to a contributing file.

[2018-08-29 11:41] Jackson-soft commented on #313
same issues

[2018-08-30 16:45] seagle0128 commented on #313
I noticed `gocode` panic in Go 1.11. Not sure if ti's a clue.

[2018-08-31 17:54] ramya-rao-a commented on #311
No. What we saw was there were no symbols being returned in the second file.

@harikb Can you update your language server and try again? To avoid the case that you have an older version of the tool?

[2018-09-03 06:29] robbyoconnor opened #316 "Support for go 1.11 / go modules"
Things need to be updated to support go 1.11, currently, things don't work correctly in go 1.11.

[2018-09-03 23:32] robbyoconnor commented on #316
Also worth referencing: https://github.com/mdempsky/gocode/issues/46

[2018-09-05 17:32] harikb commented on #311
@ramya-rao-a , it does seem to work after I updated the language server. Although the UI appears slightly different. I guess that may be the difference with langage-server mode.

**With language-server**
![bc1](https://user-images.githubusercontent.com/952886/45110093-2f7d8a00-b0f6-11e8-8a0d-9a3886fd19d2.png)

**With-out language-server**
![bc2](https://user-images.githubusercontent.com/952886/451

[2018-09-06 04:11] ianlopshire commented on #314
I'm currently working on getting this implemented.

As far as I can tell, the language server doesn't currently implement any linting. The only diagnostics come from type checking errors. I'm not missing anything am I?

vscode-go currently supports `golint`, `gometalinter`, `megacheck`, `golangci-lint`, and `revive`. I think `gometalinter` and `golangci-lint` would be a good start.

[2018-09-06 22:26] keegancsmith commented on #314
@ianlopshire thanks! Yes there is no support for linters currently. There are two routes you can take here:

- Include the above linters as libraries.
- Shell out to them.

Shelling out is likely the easiest and most maintainable approach for now. Unless of course a linter exposes a nice API to use.

[2018-09-08 20:09] chemzqm commented on #313
same issue.

[2018-09-09 17:03] #313 closed

[2018-09-10 11:07] cinuor commented on #316
I currently have a simple solution

1. go get -u github.com/visualfc/gocode (it supports go 1.11) and go get -u github.com/visualfc/gotools (needed by visualfc/gocode)
2. create your project outside fo GOPATH, for example: /home/user/demo
3. link the project under $GOPATH/src, ln -s /home/user/demo $GOPATH/src/demo

then it works for me now.

[2018-09-10 13:44] esn89 opened #317 "Getting weird "PANIC" in my go-langserver"
I am using neovim with LanguageClient-neovim with the gocodecompletion enabled:
[code]
However, when it tries to show me suggestions I get things like:
https://i.imgur.com/D9MNz6y.png

Funnily enough, it used to work a couple of weeks ago.  Any ideas?

For reference, the go-langserver I am using is v2-dev.

[2018-09-10 15:27] chemzqm commented on #317
Same issue on mac.

[2018-09-10 15:30] seagle0128 commented on #317
Same issue here.

[code]

[2018-09-11 00:33] slimsag commented on #316
https://github.com/sourcegraph/go-langserver/pull/305 should ultimately fix the `PANIC` issue once merged I think

[2018-09-11 00:36] slimsag commented on #317
I think this will be fixed once https://github.com/sourcegraph/go-langserver/pull/305 is merged

[2018-09-11 08:00] bittopaz commented on #317
@anjmao I have just tried your branch locally. And I'm using Emacs with LSP enabled.

The panic error is gone. But I get the errors as below when auto-complete:

[code]

Not sure if this is related...

[2018-09-12 05:47] anjmao commented on #317
@bittopaz As I see you are getting it from https://github.com/sourcegraph/go-langserver/blob/1fe24b2b3fd1f420474fb872d944d2a1a93ddf63/langserver/internal/godef/godef.go#L89 which is actually another tool.

[2018-09-12 05:57] bittopaz commented on #317
@anjmao Ah I see, thanks.

[2018-09-13 11:57] keegancsmith commented on #314
great. on save seems fine to me.

[2018-09-15 13:03] esn89 commented on #317
it works for me.  will it be merged in the next release? :D

[2018-09-17 10:44] keegancsmith commented on #317
I've tagged a new release. Thanks for the report.

[2018-09-17 10:44] #317 closed

[2018-09-17 12:57] anjmao commented on #316
Hi, I could work on gocode autocomplete support for go 1.11.

[2018-09-18 17:59] seagle0128 opened #319 "Unable to auto complete the modules"
I upgraded to the latest `go-langserver`, and found the local modules including vendor/ and others (e.g. common/, lib/ etc.) couldn't autocomplete. I reverted to d0a69e92f6bdce74c7acdd59fdca57cca2a9587e, and it works well. I doubt the issue is related to 28e52ba21ccbf22a81d274d5cfdd2179cac04b79.

Running `go1.10.4 darwin/amd64`

[2018-09-18 18:02] seagle0128 commented on #319
Actually I found there is no output in $GOPATH/pkg, but should be there.
This issue is related to https://github.com/mdempsky/gocode/issues/47, I believe, since `go install vendor/...` fix it manually. Please follow up.

[2018-09-18 20:42] kevinburke commented on #307
I'm not sure that that's right FWIW, or it might be masking an error.

Calling "find implementations" on MustParse in github.com/kevinburke/aws-vault/vendor/github.com/alecthomas/kingpin.v2 should return at least one implementation, in github.com/kevinburke/aws-vault/main.go, but it doesn't find it.

local URL is http://localhost:7080/github.com/kevinburke/aws-vault/-/blob/vendor/gopkg.in/alecthom

[2018-09-19 14:27] keegancsmith commented on #307
@kevinburke Find implementations finds methods which implement an interface methods. What you are referring to is find references. In this case it works https://sourcegraph.com/github.com/kevinburke/aws-vault/-/blob/vendor/gopkg.in/alecthomas/kingpin.v2/global.go#L84:6=&tab=references

[2018-09-19 14:28] keegancsmith commented on #319
cc @anjmao who recently updated our vendored gocode.

[2018-09-19 17:06] kevinburke commented on #307
I suppose but I guess even if I'm calling it incorrectly, it would be nice if the error message was clearer, for example, it could say "this function is not an interface definition" instead of "this function is not a method", the latter of which doesn't make much sense.

[2018-09-20 06:55] anjmao commented on #319
I'm using vscode and there is no such problem. Probably because vscode-go automatically builds to pkg. Even if I remove pkg folder on save I get pkg back. vscode output
[code]

In go-langserver gocode binary cache is enabled by default. The only solution I see if you are not using vscode is to build vendor manually since gocode should not be responsible for doing that, but editor extension should.

[2018-09-20 07:31] anjmao opened #320 "Use vendored gocode"
Hi, I'm linking https://github.com/mdempsky/gocode/issues/63 here. Basically my suggestion is to be able to vendor gocode suggest api.

[2018-09-20 07:42] seagle0128 commented on #319
@anjmao did you try cleaning all pkg and cache?
[code]

[2018-09-20 09:53] anjmao commented on #319
@seagle0128 Which editor are you using is it atom + go-plus?

[2018-09-20 09:55] anjmao commented on #316
Before working on this issue we should probably implement https://github.com/sourcegraph/go-langserver/issues/320.

[2018-09-20 15:35] seagle0128 commented on #319
@anjmao I am using Emacs + lsp-mode.

[2018-09-22 05:46] seagle0128 commented on #319
I tried [eglot](https://github.com/joaotavora/eglot) which is another lsp client of Emacs. The same issue.

[2018-09-26 10:48] udaykumar106 commented on #319
Same problem with neovim + deoplete + LanguageClient-neovim. As @seagle0128 says, if I revert go-langserver to [](https://github.com/sourcegraph/go-langserver/commit/28e52ba21ccbf22a81d274d5cfdd2179cac04b79), everything works.

[2018-09-26 13:12] keegancsmith commented on #319
We depend on upstream gocode, so until mdempsky/gocode#47 is solved, I don't think we have a solution. Something we could possible do is run `go install` as part of go-langserver doing diagnostics.

[2018-09-29 09:37] imjustfly commented on #316
not only the code completion, also, find references doesn't work when project is out of gopath.

Tried to dig into this issue, but language server's implementation is too complicated.

[2018-09-29 22:17] alindeman commented on #268
Is this still an issue?

[2018-09-30 11:30] imjustfly commented on #316
#321 makes references available outside the GOPATH

[2018-10-04 07:48] keegancsmith commented on #314
We have support now for linters, and it is relatively easy to add support for more now. Thanks @ianlopshire!

[2018-10-04 07:48] #314 closed

[2018-10-05 14:39] anphung opened #323 "Take 3s to go to definition for symbol of internal package"
In vscode:
For symbol of internal package (the package that I'm coding), it takes 3s to jumps to the definition.
For symbol of external package, it jumps nearly instantly.

macOS High Sierra 10.13.16
[code]

[2018-10-08 17:44] keegancsmith commented on #323
Can you include your go config for vscode? Any diagnostic output to help diagnose? Is this in OSS, so I can try reproduce?

[2018-10-09 08:28] anphung commented on #323
Here is my go config
[code]

go-langserver output:
[code]
If sub package (e.g.: `github.com/anphung/mypackage/controller`) inside `mypackage` contains small number of files (around ~20 files), It jumps fast.
If sub package contains big number of files (> 150 files, each file has 10 definitions), it jumps slow.
I guess that's the limit.

Sorry, It's not OSS.

[2018-10-09 09:20] keegancsmith commented on #323
If you remove the `-diagnostics` flag is it faster?

[2018-10-09 09:34] keegancsmith commented on #323
Thanks for the information. This should still be fast regardless. I'll check if we have regressed on which j2d engine we use with your flags (we have a slower one which is more correct, but by default we should be using a godef based j2d).

[2018-10-09 09:35] anphung commented on #323
Thanks for checking :)

[2018-10-11 13:03] keegancsmith commented on #323
We haven't regressed here. I'm unsure how deep you want to get into this, but a pprof profile of what its doing to take that long would be amazing. https://github.com/sourcegraph/go-langserver#profiling

[2018-10-11 14:23] keegancsmith opened #328 "TestIntegration_FileSystem_Lint fails on windows"
https://ci.appveyor.com/project/sourcegraph/go-langserver/builds/19433013#L40

[code]

[2018-10-11 18:39] kelbyers commented on #209
I am experiencing high CPU usage from this recently. I have vscode up and running in the background, on a different desktop, and go-langserver shows up as using 50% of a CPU on my Mac in the activity monitor.

[2018-10-11 23:01] ianlopshire commented on #328
I wonder if this is a result of changing the pattern passed to `golint` to include `rootFSPath` (see #321).

I'm also not familiar with windows pathing, but it looks like the path is prefixed with an extra `/`.

[2018-10-12 03:32] keegancsmith commented on #328
Yeah windows is mysterious to me and I don’t have an env for it to iterate. I did quite a few attempts via appveyor to work it out, but gave up.

[2018-10-12 03:54] primalmotion commented on #209
Mine goes as high as 400% every 10m. It's not usable.

[2018-10-12 07:05] ianlopshire commented on #328
I think I can borrow a machine to look into this with. If I can find a solution I will submit a PR. I’ll provide an updated either way.

[2018-10-12 08:53] anphung commented on #323
Here we go.
[code]

1. Click on a symbol in vscode
2. Immediately go to terminal and run the `go tool pprof...`

[pprof.zip](https://github.com/sourcegraph/go-langserver/files/2472319/pprof.zip)

[2018-10-12 09:00] anphung commented on #323
Seems like go-langserver doesn't pre-calculate, but calls `godef` each time.

[2018-10-12 09:51] dzhou121 commented on #316
There is a new fork of gocode which works for modules
https://github.com/stamblerre/gocode

vscode-go is starting to use it, and it's shown in golang issue trackers for tools supporting modules:
https://github.com/golang/go/issues/24661

[2018-10-12 10:58] keegancsmith commented on #328
Thank you!!

[2018-10-13 00:44] alecthomas commented on #319
They just closed that issue with "won't fix"...

[2018-10-13 06:28] seagle0128 commented on #319
I don't understand why. It's a regression issue IMO.

[2018-10-14 10:13] seagle0128 commented on #319
https://github.com/mdempsky/gocode/issues/47 has been fixed.

[2018-10-14 19:14] b0o opened #330 "Hover returns no results on function-local variable"
I'm not sure if this the intended behavior or not, but I can't get hover information for variables defined within a function body. I often want to quickly see the type for the identifier under my cursor, but this only seems to work for identifiers defined outside the function.

Client: [autozimu/LanguageClient-neovim](https://github.com/autozimu/LanguageClient-neovim)

Example (hover was activated

[2018-10-15 08:16] #319 closed

[2018-10-15 11:33] seagle0128 commented on #319
Thanks!

[2018-10-15 11:39] keegancsmith commented on #319
Thanks @imjustfly!

[2018-10-15 14:02] keegancsmith commented on #330
Nope that is not intentional. Will take a look.

[2018-10-15 19:35] udaykumar106 commented on #319
Thank you

[2018-10-16 10:04] akzk commented on #209
The go-langserver uses 800% cpu (8 cores) and 15GB mem (16GB total) on my MBP. It happens in this month, I do not know why it happens

[2018-10-16 10:16] keegancsmith commented on #209
Can you share your config? Have you enabled any optional features like code completion or diagnostics?

[2018-10-16 10:30] akzk commented on #209
I write Go file by vscode, here is my settings.json

[code]

[2018-10-16 11:09] keegancsmith commented on #209
You are not opting into anything that should make go-langserver that slow. 1281 files should be fine. We run go-langserver on sourcegraph.com and don't use as much resources for large projects such as kubernetes. We won't have time to investigate these perf issues in the short-term, so I would suggest disabling the go language server in vscode-go in the mean time. There should hopefully be a new g

[2018-10-23 01:42] Sp4rd4 commented on #209
I have the same issue, it goes almost up to 600% cpu usage, I have almost 2000 files in a project.
Here is config:
[code]

[2018-10-23 06:09] keegancsmith commented on #209
@Sp4rd4 for now just disable the language server. If your performance improves report back here.

[2018-10-26 22:05] sandipb commented on #209
I ran dtruss on go-langserver to see why it is using so much CPU. I saw that it was churning over and over the Go source files in GOROOT. I moved the Go src files to a different place, and the CPU usage became ok. Of course this means that I can't get doc info for standard library stuff, but I can atleast go through my own code. I cannot disable language server, it is the only alternative which cu

[2018-10-28 00:00] b0o commented on #330
@keegancsmith Any progress on this?

[2018-10-29 10:43] keegancsmith commented on #209
@sandipb thanks, that is a good lead on what is going wrong and surprising to me. If you re-install the langserver using the same version of Go you are developing with do you still have issues?

[2018-10-29 10:50] #174 closed

[2018-10-29 12:47] maximbaz commented on #309
To follow-up on this, first of all thanks @keegancsmith for tagging v2.0.0 soon after I opened this ticket, as you can see by the number of upvotes this is truly important for other people.

After seeing the release tagged I feel encouraged now to create a package for Arch Linux and I will do so, I would only like to confirm with you guys that you are planning to tag new releases on frequent basis

[2018-10-29 20:31] sandipb commented on #209
I have configured vscode to compile go-langserver using the executable for the project in a version specific tools directory. So it is compiled with the same version.

Just to confirm, I used `dlv` as instructed by https://dave.cheney.net/2017/06/20/how-to-find-out-which-go-version-built-your-binary

Confirmed that it is the same version.

[code]

[2018-10-29 22:15] nicksnyder opened #335 "Include examples in hover tooltips"
It would be neat if the go language server included at least one example (when available) in the hover tooltip for a symbol.

To a first approximation, the example part of the result of `godoc -ex <package> <symbol>` (e.g. `godoc -ex io MultiReader`)

[code]

[2018-10-30 03:53] b0o commented on #330
I actually determined this was a configuration issue on my end, I needed to disable the binary pkg cache option: `go-langserver -usebinarypkgcache=0`.

[2018-10-30 03:53] #330 closed

[2018-10-30 04:31] primalmotion commented on #209
It seems I managed to calm `go-langserver` down by dropping the vendor directory and building it with whatever I had in my GOPATH. It's been an hour now and it seems to behave.

I'll update if it goes crazy again

[2018-10-31 14:55] doxxx commented on #113
Repeating my comment here, I tested this using VSCode on Windows and everything worked except for Find References:

[2018-10-31 17:58] ramya-rao-a commented on #113
Thanks @doxxx! I can confirm the same.

[2018-11-01 16:48] harikb commented on #310
![image](https://user-images.githubusercontent.com/952886/47866122-2689fb80-ddbb-11e8-8e6f-825dac27811a.png)
I have to periodically kill the language server and live with missing features with vscode. Is there anything I can help with? what logs/traces can I extract the next time this happens?

[2018-11-03 13:29] huttarichard opened #336 "Panic crash of OSX after using go-langserver with vscode"
I used go-langserver for a while. But last week or so go-langserver used excessive amount of CPU and has been pain to work with. This afternoon I was working on project and suddenly mac crashed.

So I opened crash report and I found that go-langserver crashed my system. I lost all my recent unsaved changes in go.

Version:
[code]
Take a look on crash report:

[code]

[2018-11-03 14:19] huttarichard commented on #336
Related issue #209

[2018-11-05 09:16] keegancsmith commented on #336
Sorry that it crashed your system. This is a side-effect of https://github.com/sourcegraph/go-langserver/issues/209 so marking as duplicate.

[2018-11-05 09:16] #336 closed

[2018-11-06 18:54] primalmotion commented on #209
It's not better. It also caused a kernel panic

[code]

[2018-11-06 20:19] sandipb commented on #209
Yeah, I can confirm. I have had one panic reboot when I let go-langserver run at top cpu load for too long.

[2018-11-07 23:41] triztian opened #338 "High CPU usage with cgo based project"
I'm experiencing High CPU usage only with a project that uses cgo:

[code]

VSCode Version:
[code]

Go Extension Version:
[code]

go-langserver version:

[code]

[code]
[code]

[2018-11-08 07:39] keegancsmith commented on #338
I don't think this is due to cgo, we have issues around high cpu usage in general.

Duplicate of https://github.com/sourcegraph/go-langserver/issues/209

[2018-11-08 07:39] #338 closed

[2018-11-08 16:39] triztian commented on #338
Thanks!, it only happens when I work on a project that uses a cgo lib and when the code has errors (as a type the code and it's incomplete); it will start having really high cpu usage.

[2018-11-08 21:19] primalmotion commented on #209
I noticed that the golang servers that start to go crazy actually panic

[code]

[2018-11-08 21:54] primalmotion commented on #209
this diff should prevent the panic at least

[code]

[2018-11-10 22:40] primalmotion commented on #209
While it certainly fixes the panic, go-langserver is still eating all cpu and memory...

[2018-11-14 16:59] arowden commented on #209
I'm also having this issue on Mac High Sierra 10.13.6. Seems like a memory leak. My CPU usage is low, but memory usage climbs until the os crashes.

[2018-11-14 17:42] primalmotion commented on #209
The only way to make it usable for me with vscode is to kill it every 60s in a background bash loop

[2018-11-15 01:40] EmpireJones commented on #310
Having the same issue here. It sometimes takes up all available memory (e.g. 30GB), resulting in OS freezing. Just a guess, but this feels more like a bug than an issue of something being inefficient. Any details I can provide?

[2018-11-15 02:17] slimsag commented on #310
You can set `"go.languageServerFlags": ["-pprof", ":6060"]` in your VS Code settings and then follow the steps in the README to capture a heap profile and upload the SVG. That would tell us where the memory is allocated. I agree this looks more like a regression.

If the memory usage is coming from typechecking and not a regression in e.g. leaking memory, then we likely cannot do anything yet. The

[2018-11-15 15:30] jguenther commented on #291
I tried but could never manage to get symlinks inside `$GOPATH` to behave correctly with `go` itself. I'd recommend moving the code to `$GOPATH/src` and make a symlink to there from your existing projects directory, rather than symlink `$GOPATH/src` to your existing projects directory. It doesn't cause any problems to have non-go projects in there.

Maybe not ideal, but it's been working great for

[2018-11-15 23:03] sandipb commented on #209
One odd thing stood out from looking at the trace log - currently, when I am typing in the code editor, it seems that vscode sends a `notif: textDocument/didChange` message, and then a `request #n: textDocument/documentSymbol` request on every character being entered in the editor. This causes an insane amount of unnecessary chatter for a line of text being input.

Is this by the protocol design?

[2018-11-16 15:09] doxxx commented on #310
I've been using the language server since yesterday and it was relatively well behaved, using up to only a few hundred MB. This morning, I started making some edits and the language server started consuming 80-100% CPU and the memory spiked up to 5GB. I managed to capture a heap snapshot: [heap.zip](https://github.com/sourcegraph/go-langserver/files/2589756/heap.zip)

[2018-11-16 16:56] doxxx commented on #310
This is probably a better CPU profile than previous one: [cpu.zip](https://github.com/sourcegraph/go-langserver/files/2590192/cpu.zip)

[2018-11-16 16:57] doxxx commented on #310
This time the heap grew to 10GB: [heap.zip](https://github.com/sourcegraph/go-langserver/files/2590197/heap.zip)

[2018-11-17 04:06] slimsag commented on #310
@doxxx

- Your first heap profile shows the langserver _using_ 1.3GB, and Go having allocated 2.4GB (1.1GB unused but not yet released back to the OS).
- Your second heap profile shows the langserver _using_ 4GB, and Go having allocated 8GB (again, 4GB unused but not yet released back to the OS).

Both traces show the memory was allocated in the `golang.org/x/tools/go/loader` package, which is the

[2018-11-20 04:04] sandipb commented on #209
I saw the goroutine count top 4000 as well as memory usage go past 5GB. Attaching allocs, heap dump and goroutine dump

[pprof.zip](https://github.com/sourcegraph/go-langserver/files/2598014/pprof.zip)

[2018-11-20 21:10] sandipb commented on #209
Adding a CPU profile for the craziness today morning.

[cpu.pprof.gz](https://github.com/sourcegraph/go-langserver/files/2601571/cpu.pprof.gz)

[2018-11-25 00:59] Dbz commented on #220
I am just commenting to say I would also love to have go-langserver support symbol renaming 👍 !

[2018-11-25 03:37] saibing commented on #316
@robbyoconnor @keegancsmith @dzhou121

[bingo](https://github.com/saibing/bingo) is a new  go language server that support go 1.11 modules

please  try it.

[2018-11-25 06:49] Dbz opened #341 "Output window opens on error, but no error in log"
When I open a new file, langserver-go will open up a window in my vim terminal with output after attempting to run my file. It happens because the output window will be opened when language server log errors by default. However, there don't seem to be errors in the log. This was discussed: https://github.com/neoclide/coc.nvim/issues/179

Steps to reproduce the behavior:
1. Create file `touch main.

[2018-11-26 16:50] harrisonthorne commented on #220
Can this issue be marked as closed as of #337 ?

[2018-11-26 17:04] #220 closed

[2018-11-26 18:55] Dbz opened #342 "rename command not in initialization response"
My language client doesn't know go-langserver can perform renames because go-langserver doesn't add the capability in the initialize response. Would we be able to add that?

I would be happy to make a PR myself if someone can help point me in the right direction. (I just started learning Go this past week and completed a Udemy course on it, and this would be a fun first PR.)

[2018-11-26 20:33] Dbz commented on #342
Oh perfect 🎉  I'll make a PR as soon as I get home from work

[2018-11-27 05:40] #342 closed

[2018-11-27 05:50] Dbz commented on #342
Had to steal my PR @fannheyward ! I'm teasing. I'm glad it got in and that I could help with creating the issue :)

[2018-11-27 05:59] fannheyward commented on #342
@Dbz sorry for steal your PR. Just see that you have not submit for hours, so I made it.

[2018-11-27 06:02] Dbz commented on #342
I know, I just got home from work. But it is OK - I was just teasing. What is important is that we help each other build better software, and we're doing that. It doesn't matter if I do it, or if you do it. I'm glad there are more people out there who want to improve the project 👍

[2018-11-27 06:19] slimsag opened #344 "data race detected by CI"
https://travis-ci.org/sourcegraph/go-langserver/jobs/460093521

[code]

[2018-11-27 06:20] slimsag commented on #342
Haha I didn't notice the author was different, my bad :P FWIW CI just detected a (unrelated) data race  if anyone wants to look into that 😜https://github.com/sourcegraph/go-langserver/issues/344

[2018-12-02 20:14] mikefaille commented on #257
I get this problem too using Emacs 27-trunk, eglot (https://github.com/joaotavora/eglot) as client and completion-at-point as autocompletion system (to test).

[2018-12-02 21:08] mikefaille commented on #257
I get this problem too using Emacs 27-trunk + eglot. To fix it, I delete eglot and jsonrpc from emacs using `package-delete` function. I update go-languageserver and I reinstall eglot. Then everything work without tweaks special tweaks.

[2018-12-06 17:07] oblitum opened #347 "Diagnostics refreshed on file write solely."
I'm uisng go-langserver with [coc.nvim](https://github.com/neoclide/coc.nvim), which works great for all language servers I've tried (RLS, ccls, pyls, go-langserver, ...). There's an issue particular of go-langserver though, the diagnostics are refreshed in a mixed way, errors show up while I'm writing code, but if I fix them, they're not cleaned, only when I save the file they get cleaned up.

[2018-12-10 12:37] marlonfan commented on #209
me too

[2018-12-10 12:44] gitgroman commented on #209
Same here, go-langserver consumes about 8-10Gb of memory in few minutes.

[2018-12-14 06:02] hifall opened #350 "Status of diagnostics?"
Although the API has exposed an option to enable diagnostics, I find that the results might need some improvements. Too often I see the LS report no issue with syntactically incorrect snippets. This can confuse users, and to some extent, decreases the user trust in the LS. When the false positive rate goes below some threshold, the end user might just choose to turn it off for good.

Is the diagno

[2018-12-14 06:36] keegancsmith commented on #350
Diagnostics is experimental. Our roadmap is currently frozen since the Go Tools team will be releasing an official LSP server soon. In the meantime you should consider trying out https://github.com/saibing/bingo/

[2018-12-18 00:03] jonbonazza commented on #209
FWIW, I've noticed that this is an issue on OSX, but not on ubuntu-based (debian-based?) linux distros, such as Elementary OS. Not sure what the difference is there. I'll need more time to compare dependency versions.

[2018-12-18 18:17] woniesong92 commented on #209
Happening on MacOS 10.14.1 too

[2018-12-19 01:50] zephinzer commented on #209
happening on ubuntu 16.04.1 here too

[2018-12-19 07:16] jonbonazza commented on #209
@zephinzer interesting. It doesn't happen to me on elementary os 5, which is ubuntu based.

[2018-12-19 20:11] oblitum commented on #274
I get this on (Neo)Vim with coc.nvim, I install language server with `go get -u github.com/sourcegraph/go-langserver` and configure it to be used from (Neo)Vim, how is it a duplicate of vscode issue?

I've hit here to check where the protocol changed from `rootPath URI` to `rootUri` to report coc.nvim's author of such change, but got confused instead.

[2018-12-19 20:14] oblitum commented on #274
I will try [bingo](https://github.com/sourcegraph/go-langserver/issues/350#issuecomment-447230063).

[2019-01-11 16:34] doxxx commented on #113
FYI, I have submitted a PR fixing the Find References bug on Windows in `guru` that I mentioned earlier: https://github.com/golang/tools/pull/56

I tried searching the `go-langserver` code to see if the same fix was trivially applicable but I was not successful.

[2019-01-12 14:04] 0xbkt commented on #344
Is this happening in an indeterministic fashion?

[2019-01-14 08:15] suibber opened #355 "completion can't be analyzed in real time"
when i create a new func in xx.go , i can't use it in other file

[2019-01-20 21:02] ramya-rao-a opened #356 "Language Server not registering providers since the last couple of commits"
With https://github.com/sourcegraph/go-langserver/commit/8c25906a7dbc904acc96b5435ec42fa5da8b232c, the language server is not registering any of the providers correctly.

When using VS Code, this translates to not seeing any of the features from the language server.
Prior to the above commit, the language server works as expected.

Below is the trace (when everything works i.e prior to https://git

[2019-01-21 13:04] keegancsmith commented on #356
cc @chrismwendt

[2019-01-22 11:32] suibber commented on #355
thanks

[2019-01-22 17:38] #356 closed

[2019-02-02 11:01] taigacute opened #358 "Unable to close funcSnippetEnabled"
## Problem
I set false, it still executes，With some code snippet plugins, they are conflicting. I use coc and neosnippet to help me complete func by neosnippet, but when I type functionname, go-langserver will prompt me, I can't challenge the next snippet. like this pic
![go](https://user-images.githubusercontent.com/41671631/52163429-d190b500-271c-11e9-8806-2d703b1ba990.gif)
This is my go-langser

[2019-02-02 21:08] nipsarejusttittips commented on #209
Happening on  MacOS 10.14.3 too :cry:

[2019-02-05 07:38] keegancsmith commented on #209
A go language server from Google's go tools team is close to being ready. If you are blocked, maybe try out [gopls](https://github.com/golang/tools/tree/master/cmd/gopls/integration/vscode)

[2019-02-05 07:38] keegancsmith commented on #316
If you are using vscode check out https://github.com/golang/tools/tree/master/cmd/gopls/integration/vscode

[2019-02-15 10:03] mbana commented on #316
@keegancsmith Thanks a lot.

I was able to get it working with `golsp` but I've found `bingo` to be more stable and faster so I am using `bingo`. I didn't have to install the extension that you linked to (https://github.com/golang/tools/tree/master/cmd/gopls/integration/vscode). `vscode-go` worked fine.

I've written a post about setting up the two: https://www-bana-io-vue-js.netlify.com/blog/2019

[2019-02-18 12:37] #358 closed

[2019-02-18 13:17] keegancsmith commented on #316
gopls is under active development by google's go tools team. What I linked to is likely early days, although I believe it is getting close to some sort of announcement. bingo is a good alternative until then.

[2019-02-28 02:34] guiguan commented on #316
Tried `golsp` along with its `vscode` extension. It gave me `The gopls server crashed 5 times in the last 3 minutes. The server will not be restarted.` error and couldn't figure out why.

@saibing your `bingo` works nicely. Thanks for the great work!

[2019-03-02 00:05] robbyoconnor commented on #316
golsp worked for me fine...

On 2/27/19 9:35 PM, Guan Gui wrote:

[2019-03-08 21:03] polyfloyd opened #361 "Debug interface remotely accessible"
Hey,

I'm using go-langserver for local Go development and noticed that it opens a TCP server on port 6060:
[code]

Is this intended? I'm not sure what functionality this debugger provides, but it's probably best to not have it open to the network.

[2019-03-10 12:10] engineeror commented on #330
I have the exact same problem, it only works when variable is global. Sadly, `-usebinarypkgcache false` does nothing.

@keegancsmith, should I open a new issue?

[2019-03-11 21:05] keegancsmith commented on #361
cc @chrismwendt

[2019-03-27 02:25] Avi-D-coder opened #362 "What unit does go-langserver use in lsp ranges?"
Does this project use UTF-8, UTF-16, codepoint, or grapheme cluster indexes for lsp ranges?

I am conducting a [survey](https://github.com/Avi-D-coder/lsp-range-unit-survey) to inform the debate over what unit ranges should use in the [Language Server Protocol](https://github.com/Microsoft/language-server-protocol).
The debate is occuring in [issue #376](https://github.com/Microsoft/language-serve

[2019-03-27 02:53] slimsag commented on #362
We currently use unicode codepoints. Given the spec said that `Position` is character-based (it is a bit ambiguous what a character is) the thinking was that it was safe to assume it was a unicode codepoint. I can see why grapheme cluster indexes would also make sense.

We also currently do not support any document encoding except UTF-8, I believe(?), so we are probably limited to UTF-8 codepoints

[2019-03-27 02:55] Avi-D-coder commented on #362
@slimsag thanks

[2019-03-27 02:55] #362 closed

[2019-04-12 23:26] ryan-blunden opened #365 "Fix broken links to docs pages"
See https://github.com/sourcegraph/go-langserver/blob/master/buildserver/environment.go#L281 and https://github.com/sourcegraph/go-langserver/blob/master/buildserver/environment.go#L292

[2019-04-16 19:01] #365 closed

[2019-04-25 18:24] chrispickard opened #367 "readme should mention gopls instead of bingo"
Hey Everyone,
the Readme mentions `saibing/bingo`, but as of https://github.com/saibing/bingo/commit/6e7f3c3517e1c5d00a8488b5fe0b7409cab6d736 bingo is no longer maintained (more info at https://github.com/saibing/bingo/issues/13). The Readme for go-langserver should probably point directly to [gopls](https://github.com/golang/go/wiki/gopls) instead?

`gopls` is still under active development, but

[2019-04-30 08:20] #367 closed

[2019-07-02 12:45] jamwulei opened #375 "Server must be initialized ,How to use a go-langserver in a IDE"
Hello   a few great gods ,I  fall into some troubles，can you help me ?
 @keegancsmith   @slimsag   @sqs  @chrismwendt

Now,I have download the code of go-langserver master .
    after I config the IP port and mode in the code (127.0.0.1:4389 tcp), I try to send a  http request by postman with method initialize 、jsonrpc 2.0  ,I get the response with the corrent result which contain the LSP`s capabi

[2019-07-02 17:01] chrismwendt commented on #375
go-langserver speaks a protocol called LSP which requires a message passing communication style. HTTP only provides a request/response communication style. TCP and WebSockets provide a message passing communication style. Postman (as far as I know) only supports HTTP, which means you can't use Postman to directly interact with go-langserver.

To use go-langserver in VS Code, install the Go extensi

[2019-07-03 07:06] jamwulei commented on #375
I have tried to use my custom go client to connect go-langserver by lsp protocol, but after the server successfully obtained the message, it prompted the connection to close, in fact, my client is only closewrite，I check the server`s code, but I do not find why ,can you give me a simple example a bout go client which can connect to go-langserver.

[2019-07-03 16:52] chrismwendt commented on #375
What command line arguments are you passing? go-langserver will shut down immediately after the stdio pipes close if run with `-mode=stdio`.

lsp-adapter is a project that acts as a proxy between a client and a server, and here's a good place to start to see how to communicate with go-langserver https://sourcegraph.com/github.com/sourcegraph/lsp-adapter@8c9f26cef0978ba96cf1fdca7e24546a3cd5384a/-/b

[2019-07-12 07:08] hellodudu commented on #209
Happening on macOS 10.14.5

[2019-07-23 01:12] jamwulei commented on #375
@ChristianWitts thanks for your sincere reply ,I have get another way to do it .

[2019-07-23 01:13] #375 closed

[2019-08-03 08:29] apatrida opened #376 "What is meant by "isolated" and "parallel" as features of this implementation"
You use vocabulary when describing this language server that I can guess what it means, but would prefer to know what do you mean by "isolated" and "parallel" when describing the features of this language server?

[2019-08-06 07:32] keegancsmith commented on #376
I actually can't remember when we added that. But I suppose what is different about our implementation vs most language servers is we designed it to run in a datacenter for Sourcegraph. So a single language server process can have concurrent workspaces active (connecting via TCP), and each one uses a virtual filesystem so the workspaces are isolated from each other (however, will share immutable r

[2019-09-23 07:52] renovate[bot] opened #377 "Update Dependencies (Renovate Bot)"
This [master issue](https://renovatebot.com/blog/master-issue) contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] Pin golang Docker tag

---
<details><summary>Advanced</summary>

- [ ] Check this box to trigger a request for Renovate to run again on this repository

</details>

[2019-11-11 13:54] byteshiva opened #378 "Does goLangServer support go modules"
I have installed go 1.13.4 and using MS vscode, it complains and points to install google Lang Server. Am I missing something here.

"The language server from Sourcegraph is no longer under active development and it does not support Go modules as well. Please install and use the language server from Google or disable the use of language servers altogether."

ps:-
FYI.. go please implements go lang

[2019-11-11 21:27] chrismwendt commented on #378
go-langserver does not support Go modules.

Use https://github.com/golang/tools/blob/master/gopls/doc/vscode.md instead.

[2019-11-11 21:27] #378 closed

[2020-02-07 12:31] knz opened #379 "Find-definitions doesn't consider test packages"
Go supports placing `xxx_test.go` files in a package `foo` where the package definition is `package foo_test`

References to symbols from such test files are not found by lsp find-definitions.

[2020-02-07 12:53] keegancsmith commented on #379
Hi @knz I'm surprised this isn't working for you, I believe we have explicit support for xtests. Is it possible you may be using gopls (or another language server). Note: development of a langserver for your editor has been going on in the gopls project. This repo has mostly gone into maintenance mode only.

[2020-02-07 13:37] knz commented on #379
Oh yes you are correct I am using gopls. I did not know this was a different project.

[2020-02-07 13:42] #379 closed

[2020-03-18 02:09] HaoboGu opened #381 "What's the difference between this project and sourcegraph/go-lsp"
Hi all,

I am looking for a go-lsp implementation which can be used to serve other languages like javascript. I found this project and [sourcegraph/go-lsp](https://github.com/sourcegraph/go-lsp). Is there anyone who can tell me which project should I use?  Thanks very much!

[2020-03-18 04:19] unknwon commented on #381
Hi, based on the README, I think https://github.com/sourcegraph/go-lsp only contains types, and this repository does the actual thing.

[2020-03-18 04:19] #381 closed

[2020-03-18 17:50] RahmanQureshi commented on #227
Any update on this? I'm using the language server.

[2020-03-18 18:23] keegancsmith commented on #227
@RahmanQureshi I would suggest migrating to [gopls](https://github.com/golang/tools/blob/master/gopls/doc/user.md)

[2020-03-18 19:41] RahmanQureshi commented on #227
@keegancsmith yes I am using the gopls language server.

[2020-03-18 20:11] keegancsmith commented on #227
This issue is for another language server. You likely need to file an issue against gopls. https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#file-an-issue

[2020-04-04 19:02] efritz opened #383 "Bad intelligence on new rev in GitHub PR file lists"
We're recently discovered some odd behavior when viewing results from go-langserver via the Sourcegraph browser extension. When on a GitHub PR file list in which a Go file has been added in the new rev, the Go langserver fails to tokenize any Go file in the new revision and no code intelligence appears. This does not seem to affect the original revision.

The failing line is a [build context impor

[2020-04-04 19:09] efritz commented on #383
Update: this also appears to happen on diff views on Sourcegraph.com, which also points to this being a langserver issue.

[2020-05-08 16:16] junknet opened #387 "Support Semantic highlight?"

[2020-08-10 08:08] nasir-rabbani opened #390 "Integrating go-langserver with monaco-editor single instance for intellisense"
I am trying to create a web based editor using [Monaco Editor](https://microsoft.github.io/monaco-editor/index.html). I was able to make the go-langserver and monaco-language-client talk to each other but on typing or hitting CTRL + SPACE i am getting the below error from go-langserver

`go Server: 2020/08/06 16:53:51 jsonrpc2 handler: notification "textDocument/didChange" handling error: Open inm

[2020-08-12 00:14] keegancsmith commented on #390
I am assuming your web based editor created the URI `inmemory://model/1`. Rather pass in filenames that look like file paths. Go-langserver is likely choking on that. I believe in vscode they have a concept around translating paths for consumption in LSP.

[2020-11-26 00:41] kraliq233 opened #391 "T"

[2021-03-26 13:05] kasbah opened #392 "Doesn't work on project in a git submodule"
There seems to be some trouble with using this langserver on code in a git submodule. It's working fine when I clone [our fork of Gitea](https://github.com/kitspace/gitea) into a folder. But when I [use it in a submodule](https://github.com/kitspace/kitspace-v2) I get errors e.g.

![image](https://user-images.githubusercontent.com/206854/112635357-9fc69500-8e33-11eb-9ec7-151acf04bc81.png)

Can try

[2021-08-16 00:38] filipecosta90 opened #394 "codahale/hdrhistogram repo url has been transferred under the github HdrHstogram umbrella"
## Problem

The codahale/hdrhistogram repo has been transferred under the github HdrHstogram umbrella with the help from the original author in Sept 2020 (new repo url https://github.com/HdrHistogram/hdrhistogram-go). The main reasons are to group all implementations under the same roof and to provide more active contribution from the community as the original repository was archived several years

[2021-08-16 11:55] #394 closed

[2021-11-06 13:41] pawansingh00 commented on #390
Hi,

@nasir-rabbani  I know its very old, but were you able to solve it?
At least can you give me a pointer on what to change in `monaco-language-client` to get started?

Thanks,
Pawan

[2021-11-06 13:43] pawansingh00 commented on #217
@geonilpark Hi, Can you please give me any pointer on how to get started with Integrating Monaco Editor with this language server.

Thanks,
Pawan

[2021-11-08 07:21] keegancsmith commented on #217
@pawansingh00 this language server is quite old and not actively maintained. If you want go support I recommend looking at `gopls` which is supported by the Go team.

[2021-11-08 07:24] pawansingh00 commented on #217
@keegancsmith Thanks for pointing me to right direction, will check there.

[2022-07-21 05:38] leoyox opened #398 "Request failed: getting file for InlayHint: no packages"
mode: go module
I have a module `x`, there exists a test folder under `x`. When I edit `test/xx_test.go`, there is no hint even module fmt! Please help me.

[2022-07-21 07:26] keegancsmith commented on #398
@leopox you are likely looking to give feedback for gopls. This server doesn't support inlay hints.

[2022-07-21 07:26] #398 closed, assigned to nobody

[2022-10-11 10:52] Alexey-T opened #400 "Error installing on Ubuntu 20.04"
[code]

and
[code]

[2022-10-12 12:29] keegancsmith commented on #400
Hey we no longer maintain this server (in fact I am about to archive this repository). Please use the official gopls language server from the go team.

[2022-10-12 12:29] #400 closed, assigned to nobody